[2015-12-22 17:55] mwbrooks opened #1 "Issue 1"

[2015-12-22 17:57] mwbrooks opened #2 "Issue 2"
- [x] Task on
- [ ] Task two
- [ ] Task three

[2016-01-05 22:17] mwbrooks opened #3 "Analytics Milestone"
**Description**

In an effort to remove the guesswork, we want to measure usage and use metrics to support our decisions.

**Projects**
- [x] PhoneGap Website
- [x] PhoneGap Docs
- [x] PhoneGap Desktop app
- [ ] PhoneGap Mobile app
  - [Milestone](https://github.com/phonegap/phonegap-app-developer/milestones/Analytics)
  - Pull Request
- [ ] PhoneGap CLI
  - Milestone
  - Pull Request

[2016-01-05 22:20] mwbrooks opened #4 "Templates Milestone"
**Description**

A lot of the upcoming features depends on having template support. Templates allows the developer to get started with their favourite framework or instantly preview a complete example app. In order to make publishing and installation easy, we should like to have support for npm.

**Projects**
- [ ] PhoneGap Documentation
  - Milestone
  - Pull Request
- [ ] PhoneGap CLI Template s

[2016-01-05 22:24] #1 closed, assigned to nobody

[2016-01-05 22:24] #2 closed, assigned to nobody

[2016-01-06 21:36] mwbrooks opened #5 "Website Analytics"
Audit all of our web properties to ensure that we are sharing GA cookies and can filter views appropriately.

[2016-01-06 21:36] mwbrooks opened #6 "Docs Analytics"
Wnsure that we align our GA tracking with the other web properties. Ensure that our legacy docs are tracked. It would be amazing to use events to track whether an article is useful (or has errors) but that is a stretch.

[2016-01-06 21:37] mwbrooks opened #7 "Desktop Analytics"
Add event tracking to the desktop with opt-out option.

[2016-01-06 21:37] mwbrooks opened #8 "Mobile App Analytics"
**Description**

We currently use the Adobe Analytics. However, it would be nice to have Google Analytics for general tracking and Keen.IO/GA for event tracking.
- [Milestone](https://github.com/phonegap/phonegap-app-developer/milestones/Analytics)
- [Branch](https://github.com/phonegap/phonegap-app-developer/tree/dev)

[2016-01-06 21:37] mwbrooks opened #9 "CLI Analytics"
**Description**

Add event tracking to the CLI with opt-out option.
- Milestone
- Pull Request

[2016-01-06 21:38] mwbrooks opened #10 "Docs Template Guide"
**Description**

Documentation that explains what is a template, how to use a template, how to create your own template, and how to publish a template for others to use.
- Milestone
- Pull Request

[2016-01-06 21:38] mwbrooks opened #11 "CLI Template Support"
- [Milestone](https://github.com/phonegap/phonegap-cli/milestones/Template%20Milestone)
- [Branch](https://github.com/phonegap/phonegap-cli/tree/template-milestone)
- [Pull Request](https://github.com/phonegap/phonegap-cli/pull/574)

[2016-01-06 21:39] mwbrooks opened #12 "Desktop Template Support"
**Description**

Add template support to the PhoneGap Desktop app. This allows a developer to choose a template when creating a new app.

**Follow**
- [Milestone](https://github.com/phonegap/phonegap-app-desktop/milestones/0.2.4%20Template%20Support)
- [Pull Request](https://github.com/phonegap/phonegap-app-desktop/pull/672)

[2016-01-06 21:39] mwbrooks opened #13 "Blank App Template"
**Description**

We have this done. Let's do an audit it and publish it to npm.

We will want to rename this repo to `phonegap-template-blank`.

**Follow**
- [Milestone](https://github.com/phonegap/phonegap-app-blank)

[2016-01-06 21:39] mwbrooks opened #14 "Hello World App Template"
**Description**

We have this done. Let's do an audit it and publish it to npm.

We will want to rename this repo to `phonegap-template-hello-world`.

**Follow**
- [Milestone](https://github.com/phonegap/phonegap-app-hello-world)

[2016-01-06 21:39] mwbrooks opened #15 "Framework 7 Template"
**Description**

The Framework 7 template will be used by our _Building an App_ guides to create the _Example App_ from start to finish.

**Tasks**
- [phonegap-template-framework7 Branch](https://github.com/phonegap/phonegap-template-framework7)

[2016-01-06 21:40] mwbrooks opened #16 "Onsen UI 2.0 Template"
- Milestone
- Pull Request

[2016-01-06 21:40] mwbrooks opened #17 "React Template"
**Description**

More to come as this project is kicked off.

**Follow**
- [Repository](https://github.com/phonegap/phonegap-template-react-hot-loader)

[2016-01-06 21:54] #3 closed, assigned to nobody

[2016-01-06 21:54] #4 closed, assigned to nobody

[2016-01-06 22:47] mwbrooks opened #18 "Docs Overview Guide"
- [ ] Documentation of Overview section
  - Milestone
  - Pull Request

[2016-01-06 23:04] mwbrooks opened #19 "Docs Installation Guide"
- Milestone
- Pull Request

[2016-01-06 23:05] mwbrooks opened #20 "CLI Check for Updates"
- Pull Request
- Milestone

[2016-01-07 22:15] mwbrooks opened #21 "Example App"
**Description**

Kick off the development of the Example App. This is a rich "showcase" app that goes beyond a simple Hello World app. This app will be used in our _Getting Started_ and _Building an App_ guides. It should support iOS, Android, and WP.

**Follow**
- [Repository](https://github.com/phonegap/phonegap-app-media)

[2016-01-07 22:20] mwbrooks opened #22 "Example App Template"

[2016-01-07 22:22] mwbrooks opened #23 "CLI Browser Platform Support"
**Description**

The browser platform is already implemented in the PhoneGap CLI. However, it's disabled by default and not actively used. We want to enable it by default and support the ability to disable it when desired. We should also ensure that the user's experience is smooth.

**Follow**
- [connect-phonegap Milestone](https://github.com/phonegap/connect-phonegap/milestones/Add%20browser%20su

[2016-01-07 22:23] mwbrooks opened #24 "Desktop Browser Platform Support"
**Description**

When using the Desktop run command, you should be able to open the app in your desktop browser (`localhost:3000`). The app should display properly with deviceready firing and mock responses for all core plugins.

**Follow**
- [Branch on phonegap-app-desktop](https://github.com/phonegap/phonegap-app-desktop/tree/browser)
- [Branch on connect-phonegap](https://github.com/phonegap/co

[2016-01-07 22:25] mwbrooks opened #25 "Browser Platform Module"
- Displays app wrapped in device chrome
- Web Inspector support that removes the device chrome

[2016-01-07 22:26] mwbrooks opened #26 "Browser Platform Web Inspector Support"

[2016-01-07 22:26] mwbrooks opened #27 "Browser Platform Analytics"

[2016-01-07 22:26] mwbrooks opened #28 "Browser Platform plugin support for Example App"

[2016-01-07 22:27] mwbrooks opened #29 "Browser platform plugin support for Official Plugins"

[2016-01-07 22:30] mwbrooks opened #30 "Getting Started Documentation"

[2016-01-07 22:32] mwbrooks opened #31 "Mobile App Support"
PhoneGap Mobile App support for config.xml preferences used by Example App

[2016-01-07 22:36] mwbrooks opened #32 "README"
**Description**

The first experience with PhoneGap should be quick and inspiring. Getting started with PhoneGap helps the developer create and preview a complete, fully functional example app on their mobile device and desktop browser.

**Dependencies**
- [ ] Example App Milestone
- [ ] Browser Platform Milestone

[2016-01-07 22:43] mwbrooks opened #33 "Building App Documentation"
**Description**

This is a long and tough documentation milestone that will walk a developer through building the _Example App_. We want it to go beyond the surface of a Hello World and get into the real issues that developers face while creating an app.

[2016-01-07 22:44] mwbrooks opened #34 "Decouple Cordova from PhoneGap"
**Description**

We would like to see PhoneGap (CLI and Desktop) not require a specific version of Cordova. Instead, we would like each app to declare the Cordova version as a dependency. This will allow older apps to lockdown the Cordova version, while still using the latest PhoneGap tools.

**Follow**
- [PhoneGap CLI Milestone](https://github.com/phonegap/phonegap-cli/milestones/Decouple%20Cordo

[2016-01-07 22:45] mwbrooks opened #35 "README - Building App"
**Description**

This section will walk the developer through the entire process of building the Example App from start to finish. Unlike typical getting started tutorials, this section will get into the details and address many edge-cases that are encountered by a typical app developer.

**Dependencies**
- [ ] Template Milestone (Framework 7 starter app)
- [ ] Browser PlatformMilestone (Web Inspe

[2016-01-07 22:48] mwbrooks opened #36 "README - Sharing"
**Description**

During the development process, it’s common for a developer to share the app with their team/client. The PhoneGap Mobile app is a perfect vessel to share and preview an app. It can also become an integration point for third-party products.

[2016-01-07 22:49] mwbrooks opened #37 "README - Preparing"
**Description**

Compiling is one of the most troublesome aspects of using Apache Cordova. Before compiling an app, PhoneGap can validate a project and provide a checklist of items that must be prepared. For example, validating the native platform SDKs, icons, splash screens, app name, etc. It can also help obtain and configure the signing keys for each platform.

[2016-01-07 22:50] mwbrooks opened #38 "README - Compiling"
**Description**

Compiling an app is the first step to running it standalone, distributing it to testers, and eventually publishing it into an app store. In this section, we explain how to compile and run a standalone app that does not use the PhoneGap Mobile app or Desktop browser.

[2016-01-07 22:51] mwbrooks opened #39 "README - Distributing"
**Description**

Before publishing an app, it’s common to distribute it to friends, colleagues, or users for testing. In this article, we explain how to use third-party (HockeyApp) and platform (TestFlight / Play Store Beta) testing platforms.

[2016-01-07 22:52] mwbrooks opened #40 "README - Publishing"
**Description**

One of the goals of PhoneGap is to help developers create high quality hybrid mobile apps from concept to app store. When a developer has taken the time to create a production ready app, we should at least point them to the documentation on submitting it.

[2016-01-07 22:53] mwbrooks opened #41 "README - Push"
**Description**

Push support is a common use-case that is difficult to setup and more difficult to develop. The PhoneGap push plugin can be integrated into the PhoneGap tooling and Mobile app to allow for a great developer experience without setting up or hosting any push services.

[2016-01-07 22:54] mwbrooks opened #42 "Push Plugin"
**Description**

Push plugin for Android, iOS, and Windows.

**Follow**
- [phonegap-push-plugin Branch](https://github.com/phonegap/phonegap-plugin-push)

[2016-01-07 22:55] mwbrooks opened #43 "CLI Push Support"
**Description**

Ability to test push messages from the PhoneGap CLI to the Mobile App.

**Follow**
- [phonegap-cli Branch](https://github.com/phonegap/phonegap-cli/tree/push)
- [connect-phonegap Branch](https://github.com/phonegap/connect-phonegap/tree/push)

[2016-01-07 22:55] mwbrooks opened #44 "Browser Platform Push Support"
**Follow**
- Branch: https://github.com/phonegap/phonegap-plugin-push/tree/browser

[2016-01-07 22:56] mwbrooks opened #45 "Mobile App Push Support"
**Description**

Ability to test push messages from the PhoneGap CLI to the Mobile App.

**Follow**
- [phonegap-app-developer Branch](https://github.com/phonegap/phonegap-app-developer/tree/push)

[2016-01-07 22:58] mwbrooks opened #46 "README - Plugins"
**Description**

Good plugins can greatly improve an app development experience. The PhoneGap team can pick some high impact plugins to create and maintain for the community.

[2016-01-07 22:59] mwbrooks opened #47 "Push Plugin"

[2016-01-07 22:59] mwbrooks opened #48 "Adobe CSDK Plugins"
**Description**

The start of the Creative SDK - an image editor plugin built on top of Aviary. A by-product of this plugin will be a developer auth plugin.

**Follow**
- [phonegap-plugin-csdk-client-auth](https://github.com/CreativeSDK/phonegap-plugin-csdk-client-auth)
- [phonegap-plugin-csdk-image-editor](https://github.com/CreativeSDK/phonegap-plugin-csdk-image-editor)
- [phonegap-plugin-csdk-u

[2016-01-07 22:59] mwbrooks opened #49 "OAuth Plugin"

[2016-01-07 23:01] mwbrooks opened #50 "README - Cloud Compiler"
**Description**

A common barrier for app development happens when the app uses a third-party plugin or the needs to be prepared for distribution. In both cases, the PhoneGap Mobile App does no longer works and the app developer must setup local SDKs or use PhoneGap Build. We can leverage PhoneGap Build to customize the PhoneGap Mobile App to continue local development.

[2016-01-07 23:01] mwbrooks opened #51 "Compile Custom Mobile Apps"

[2016-01-07 23:02] mwbrooks opened #52 "CLI Cloud Compiler Support"
PhoneGap Build integrates into PhoneGap CLI as the Cloud Compiler

[2016-01-07 23:02] mwbrooks opened #53 "Browser Platform Cloud Compiler Support"
PhoneGap Build integrates into Web app as the Cloud Compiler

[2016-01-07 23:04] mwbrooks opened #54 "README - Analytics"
**Description**

In an effort to remove the guesswork, we want to measure usage and use metrics to support our decisions.

[2016-01-07 23:05] mwbrooks opened #55 "README - Templates"
**Description**

A lot of the upcoming features depends on having template support. Templates allows the developer to get started with their favourite framework or instantly preview a complete example app. In order to make publishing and installation easy, we should like to have support for npm.

[2016-01-07 23:06] mwbrooks opened #56 "README - Overview Docs"
**Description**

Before beginning development, we should explain PhoneGap, the problem that it solves, its relationship with Cordova, and the structure of a default PhoneGap app.

[2016-01-07 23:07] mwbrooks opened #57 "Overview"
**Description**

The installation documentation exists, but there are small improvements that we can make. The Desktop installation URLs are duplicated in multiple places, which complicates the desktop releases. We may also want to consider “Check for updates” to be part of this milestone.

[2016-01-07 23:09] mwbrooks opened #58 "README - Installation"
**Description**

The installation documentation exists, but there are small improvements that we can make. The Desktop installation URLs are duplicated in multiple places, which complicates the desktop releases. We may also want to consider “Check for updates” to be part of this milestone.

[2016-01-07 23:09] mwbrooks opened #59 "README - Example App"
**Description**

The Example App is our flagship demo app. When a new developer is learning PhoneGap, this will be the first app that they preview. It’s also the app that we will build a series of tutorials around, explaining how to build it from start-to-end. Many frameworks use a Todo List or Reddit clone, but these apps rarely confront common use-cases found in other apps. We want our Example A

[2016-01-07 23:10] mwbrooks opened #60 "README - Browser"
**Description**

We want to keep PhoneGap aligned with the web and allow developers to reuse existing web development tools. One of the best ways to do this is to keep development in the browser for as long as possible. In order to do this, we need to offer a solid user-experience in the desktop and desktop platform plugin support (starting with the Example App requirements).

This milestone is fo

[2016-01-07 23:21] #26 closed, assigned to nobody

[2016-01-09 00:34] #5 closed, assigned to nobody

[2016-01-09 00:34] #7 closed, assigned to nobody

[2016-01-09 00:34] #6 closed, assigned to nobody

[2016-01-11 17:40] #57 closed, assigned to nobody

[2016-01-11 18:33] mwbrooks opened #61 "README - Redesign"
**Description**

Redesign our projects to have an updated look and feel. This includes phonegap.com, the other web properties, and the PG Mobile App.

[2016-01-11 18:35] mwbrooks opened #62 "Phase I - Initial launch"
**Description**

Initial launch of new visual design.

**Follow**
- [Milestone](https://github.com/phonegap/phonegap.github.io/milestones/Phase%20I%20:%20Initial%20launch%20of%20new%20visual%20design)
- [Repository](https://github.com/phonegap/phonegap.github.io)

[2016-01-11 18:36] mwbrooks opened #63 "phonegap.com Phase II - Additional sections"
**Description**

Publishing all the nice extras that we didn't want to hold back the initial launch.

**Follow**
- [Milestone](https://github.com/phonegap/phonegap.github.io/milestones/Phase%20II%20:%20Publish%20additional%20sections)
- [Repository](https://github.com/phonegap/phonegap.github.io/)

[2016-01-11 23:22] mwbrooks commented on #33
@devgeeks will make notes while building the Example App. Those notes can later on be written into proper documentation.

[2016-01-11 23:37] mwbrooks opened #64 "README - Securing"
**Description**

Steps to secure your app before going into production. This allows the _Build App_ section to focus on development and less on security.

[2016-01-12 00:00] mwbrooks opened #65 "Desktop Auto-Update Support"
**Description**

Since the update to Electron, we lost the ability to auto-update. However, we at least continue to have an update notification. In order to improve the installation experience, auto-updates would be a big win.

**Follow**
- [0.2.2 Milestone](https://github.com/phonegap/phonegap-app-desktop/milestones/0.2.2%20Auto-Update)
- [0.2.2 Branch](https://github.com/phonegap/phonegap-app-de

[2016-01-12 23:09] mwbrooks opened #66 "README - Embed Webview"
**Description**

We have created a Cocoapod for the iOS Webview and core plugins. Now we should solicite feedback and consider whether we want to update our [Embeddable Webview documentation](http://docs.phonegap.com/develop/1-embed-webview/ios/) with the new approach.

[2016-01-12 23:10] mwbrooks opened #67 "PhoneGap Docs iOS Webview Guide"
**Description**

Do we want to update the existing [iOS Webview Documentation](http://docs.phonegap.com/develop/1-embed-webview/ios/) to use the Cocoapod approach?

[2016-01-13 23:22] mwbrooks opened #68 "README - Autodiscovery"
**Description**

This milestone will **add auto-discovery** between the Mobile App, CLI, and Desktop. The feature may be restricted to certain mobile and desktop platforms, but the experience should be consistent regardless of the mechanisms underneath.

This milestone will also **continue to address any connection issues** that users are experiencing. For example, iOS has experienced a few `404`

[2016-01-13 23:26] mwbrooks opened #69 "Mobile App Autodiscovery"
**Description**
- Add auto-discovery to the Mobile App. The feature may be restricted to certain mobile and desktop platforms, but the experience should be consistent regardless of the mechanisms underneath.
- Continue to address any connection issues that users are experiencing. For example, iOS has experienced a few `404` responses on its first request, followed by a successful `200`.

**Follow*

[2016-01-13 23:29] mwbrooks opened #70 "CLI Autodiscovery"
**Description**

Add OS X and Windows support for auto-discovery to the `phonegap serve` command. It should be zero configuration when possible.

**Tasks**
- Milestone

[2016-01-13 23:30] mwbrooks opened #71 "Desktop Autodiscovery"
**Description**

Add OS X and Windows support for auto-discovery to the Desktop app. The functionality should be provided by the `connect-phonegap` module. It should be zero configuration for the user when possible.

**Tasks**
- Milestone

[2016-01-15 19:00] mwbrooks opened #72 "Mobile App Social Sharing Plugin"
**Description**

The Example App will use the social sharing plugin, which is wildly popular in our community. In order to write the _Build App_ documentation, we need to have this plugin available in the Mobile App.

[2016-01-15 19:13] mwbrooks commented on #11
The command syntax will be:

[code]

Pull request ready to be merged.

[2016-01-15 23:13] mwbrooks commented on #62
**Logos**
![screen shot 2016-01-15 at 3 06 22 pm](https://cloud.githubusercontent.com/assets/21328/12367762/ab4e96ba-bb99-11e5-9f87-545a3a5a3e74.png)

**License**
![screen shot 2016-01-15 at 3 09 22 pm](https://cloud.githubusercontent.com/assets/21328/12367797/f9ecd1d8-bb99-11e5-8d11-9706f5b0d229.png)

**FAQ**
![screen shot 2016-01-15 at 3 12 01 pm](https://cloud.githubusercontent.com/assets/21328

[2016-01-15 23:18] mwbrooks commented on #8
Submitted to each of the app stores.

We are already seeing activity in the production analytics:

**Audience**

<img width="1160" alt="screen shot 2016-01-15 at 3 16 17 pm" src="https://cloud.githubusercontent.com/assets/21328/12367921/2e2af3ca-bb9b-11e5-94d1-1aa90be8776e.png">

**Behaviour**

<img width="1149" alt="screen shot 2016-01-15 at 3 17 17 pm" src="https://cloud.githubusercontent.com/as

[2016-01-15 23:28] mwbrooks commented on #15
**In Progress Preview on iOS**

<img src="https://cloud.githubusercontent.com/assets/21328/12368058/825e8596-bb9c-11e5-91bc-c4c5076d48e3.gif" width="50%">

[2016-01-15 23:32] mwbrooks commented on #65
**OS X code signing is setup**

<img width="1032" alt="screen shot 2016-01-12 at 2 40 04 pm" src="https://cloud.githubusercontent.com/assets/21328/12368093/0b8b3364-bb9d-11e5-9636-2fc061259ddf.png">

[2016-01-15 23:52] mwbrooks commented on #23
**Current State of Browser Platform**

<img width="680" alt="screen shot 2016-01-15 at 3 51 58 pm" src="https://cloud.githubusercontent.com/assets/21328/12368404/018e5866-bba0-11e5-9325-c747664bffcb.png">

[2016-01-16 00:37] mwbrooks opened #73 "README - Windows 10"
**Description**

We want Windows Universal to be fully supported across PhoneGap. Apache Cordova is looking to be in good shape, but there is still work to be done in PhoneGap. The core PhoneGap plugins, PhoneGap Mobile, and PhoneGap Build are in that mix.

[2016-01-16 00:40] mwbrooks opened #74 "Content Sync UWP"
**Description**

Add Windows Universal support to the `phonegap-plugin-contentsync`.

**Follow**
- [phonegap-plugin-contentsync Pull Request](https://github.com/phonegap/phonegap-plugin-contentsync/pull/104)

[2016-01-16 00:41] mwbrooks opened #75 "Push Plugin Windows 10"
**Description**

Add Windows Universal support to `phonegap-plugin-push`.

**Follow**
- [phonegap-plugin-push Pull Request](https://github.com/phonegap/phonegap-plugin-push/commits/windows)

[2016-01-16 00:43] mwbrooks opened #76 "Mobile App Windows 10"
**Description**

We need to stop putting development effort into WP8 and transition to UWP. In order to do this, we need all of the plugins used by the Mobile App to also support UWP. Each plugin that needs support should be tracked in this milestone.

**Follow**
- Nothing to follow

[2016-01-16 00:45] mwbrooks opened #77 "PGB Windows 10"
**Description**

PhoneGap Build is in the process of adding Windows Universal support. This is a key part of enabling the _Cloud Compiler_ to build custom versions of the PhoneGap Mobile App.

**Follow**
- Nothing to follow

[2016-01-16 00:48] mwbrooks commented on #77
Estimated delivery is Feb / March.

[2016-01-18 08:48] stevengill commented on #34
To split up cordova-create, it makes sense to split up all fetching code into its own module. I'm currently working on that. Here is the proposal for cordova-fetch: https://github.com/cordova/cordova-discuss/pull/33

[2016-01-18 18:14] mwbrooks commented on #11
**List templates**

[code]

**Create app from blank template (network access)**

[code]

**Create app from blank template (no network access)***

[code]

Published as `phonegap@5.4.1`

[2016-02-02 00:12] #8 closed, assigned to timkim

[2016-02-02 00:13] timkim commented on #40
Here's my [workshop wiki](https://github.com/timkim/phonegap-day-workshop-app-submission/wiki) that should provide a good base.

Also Holly's guide: https://github.com/phonegap/phonegap-docs/tree/master/docs/2-tutorials/5-distribute

[2016-02-02 00:14] mwbrooks commented on #40
Nice!

[2016-02-02 23:04] mwbrooks opened #78 "PhoneGap Mobile App 2.0"
**Description**

As a PhoneGap Team, we want to visually redesign the PhoneGap Mobile App and refactor the codebase, so that the brand is aligned with Adobe I/O, the UI is flexible to additional functionality, and the codebase is more testable.

**Conditions**

- Must support Android and iOS
- Must look and feel like Spectrum

**Tasks**

- [v2.0.0-dev Branch](https://github.com/phonegap/phonegap-a

[2016-02-03 18:13] mwbrooks commented on #67
**References**
- [@imhotep PhoneGap Day Workshop](https://github.com/imhotep/InstaSnap)
- [Cordova Third-Party Package Manager Discussion](https://github.com/cordova/cordova-discuss/blob/master/proposals/ThirdPartyPackageManagers.md)
- [PhoneGap iOS Template Project/CocoaPod](https://github.com/phonegap/phonegap-webview-ios/)

[2016-02-05 19:21] mwbrooks commented on #23
Published as `phonegap@5.5.0`.

Commit https://github.com/phonegap/phonegap-cli/commit/ec93e8a8da4f40833a69d3ed995e11e2da312af4

[2016-02-05 19:28] surajpindoria commented on #23
Still working on a race condition when running `cordova prepare browser`.

https://github.com/phonegap/connect-phonegap/issues/144

[2016-02-05 22:22] mwbrooks opened #79 "Adobe Forum for PhoneGap"
**Description**

At the moment, we have PGB Get Satisfaction and the PG Google Groups. We're considering moving both to the Adobe Forums to centralize support and make it first-class.

**Follow**
- [Adobe PhoneGap Forum](https://forums.adobe.com/community/phonegap)
- [Google Groups](https://groups.google.com/forum/#!forum/phonegap)
- [Get Satisfaction](http://community.phonegap.com/nitobi)

[2016-02-05 22:58] mwbrooks opened #80 "README - General"
**Description**

This is a general milestone to track release and updates that happen but are not directly released to a goal. For example, regular platform, plugin, or Cordova updates would fall into this milestone.

[2016-02-05 22:59] mwbrooks commented on #47
Duplicate #42

[2016-02-05 22:59] #47 closed, assigned to nobody

[2016-02-05 23:03] mwbrooks opened #81 "PG CLI Cordova 6 Support"
**Description**

Update the PhoneGap CLI to support Cordova 6.0. There are a number of breaking changes, so this will be more than a simple npm version bump.

**Follow**
- [Milestone](https://github.com/phonegap/phonegap-cli/tree/cordova-6)

[2016-02-05 23:08] mwbrooks opened #82 "README - PGB UI"
**Description**

While a long-term view, we are considering the removal of the PhoneGap Build Web Interface and treated it as a Web Service with a RESTful API. This doesn't necessarily mean that there will be no interface because the PhoneGap Desktop (or Browser) app can take on this responsiblity.

[2016-02-05 23:10] mwbrooks commented on #79
Estimated announcement date is Feb. 17, 2016. However, it's open to the public already.

[2016-02-05 23:12] mwbrooks opened #83 "PG CLI Basic Auth Audit"
**Description**

PGB wants to remove Basic Auth support and is encouraging third-party API consumers to move off of it.

Does the PhoneGap CLI use Basic Auth? If so, let's move off of it.

[2016-02-05 23:18] mwbrooks opened #84 "Client UI for PGB"
**Description**

We want to consider an alternative UI for PGB. It makes sense to run the UI locally and consume the PGB API. This doesn't need to be a 1:1 mapping of the current web interface.

At the moment, it would be interesting to prototype this in the browser platform.

[2016-02-05 23:18] mwbrooks commented on #53
Duplicate #84

[2016-02-05 23:18] #53 closed, assigned to nobody

[2016-02-06 00:43] mwbrooks opened #85 "PG Mobile Remove Mobile Services"
**Description**

Since we now track via Google Analytics, we do not need the Adobe Mobile Services plugin.

[2016-02-08 21:37] timkim commented on #85
Done here: https://github.com/phonegap/phonegap-app-developer/commit/5864057e1088218b6f71ad5065adad9d1ef99aba

[2016-02-08 21:37] #85 closed, assigned to timkim

[2016-02-09 19:24] hollyschinsky commented on #67
The [PhoneGap Docs have been updated](http://docs.phonegap.com/develop/1-embed-webview/ios/) to include the latest CocoaPods approach in addition to the manual approach for iOS. Docs include step by step instructions of how to build an app with the CocoaPods approach, how it loads the default template project and links to the InstaSnap sample app from PG Day workshops.

[2016-02-09 19:27] #67 closed, assigned to hollyschinsky

[2016-02-09 19:44] stevengill commented on #69
POC for andorid

[2016-02-09 19:45] stevengill commented on #74
All tests are passed. Needs a review and more tests

[2016-02-11 06:46] jessemonroy650 commented on #81
Already broke on PGB.

http://community.phonegap.com/nitobi/topics/confirmed-pgb-fails-with-cli-6-0-0-for-winphone
- winphone fails to build
- iOS not loading icons
- Android not appling "version code" correctly

[2016-02-12 00:27] mwbrooks commented on #81
@jessemonroy650 Can you please file the issue on the [PhoneGap Build issue tracker](https://github.com/phonegap/build/issues).

[2016-02-12 01:22] jessemonroy650 commented on #81
@mwbrooks  Ryan (@wildabeast) appears to have most of these issues dealt with in the forum. Please close. Thanks.

[2016-02-12 18:39] mwbrooks commented on #79
When we waiting on moderator documentation. On Monday, Feb 15th, 2016 we'll decide whether to announce on the 17th or move out.

[2016-02-12 18:42] mwbrooks commented on #62
App Showcase is the main priority right now. We've scaled back on the scope of the App Showcase - all apps won't be included on the first release - instead we will feature 20-ish great apps.

Goal is live for Feb. 19th, 2016.

[2016-02-12 23:42] mwbrooks commented on #23
Current work is under review and the post is drafted.

[2016-02-12 23:43] mwbrooks opened #86 "Docs for Browser Support"
**Description**

We should explain how the Desktop Browser support works, plugin support, multi-target pairing, and debugging.

**Follow**
- [Branch](https://github.com/phonegap/phonegap-docs/tree/browser-docs)

[2016-02-13 01:11] stevengill commented on #13
Completed. Renamed the repo and published to npm.

https://github.com/phonegap/phonegap-template-blank
https://www.npmjs.com/package/phonegap-template-blank

[2016-02-13 01:11] #13 closed, assigned to stevengill

[2016-02-13 01:36] stevengill commented on #14
Renamed and published!

https://github.com/phonegap/phonegap-template-hello-world
https://www.npmjs.com/package/phonegap-template-hello-world

[2016-02-13 01:36] #14 closed, assigned to stevengill

[2016-02-16 17:39] mwbrooks commented on #21
**iOS work-in-progress**
![](http://f.cl.ly/items/1F2K410k0w1n3J3w0U2f/Screen%20Recording%202016-02-16%20at%2009.38%20AM.gif)

**Android work-in-progress**
![pasted image at 2016_02_16 01_54 pm](https://cloud.githubusercontent.com/assets/21328/13084908/7f653efe-d490-11e5-8f24-7072fcaa3d9f.png)

![pasted image at 2016_02_16 01_55 pm](https://cloud.githubusercontent.com/assets/21328/13084918/859fc93

[2016-02-16 19:26] mwbrooks commented on #15
Now available on npm:
https://www.npmjs.com/package/phonegap-template-framework7

[2016-02-16 19:28] mwbrooks commented on #17
Now available on npm:
https://www.npmjs.com/package/phonegap-template-react-hot-loader

[2016-02-16 19:34] mwbrooks commented on #79
Talking with @alharding it sounds like we will have to push this out to **next week** because we are currently setting up Adobe community moderators.

February 24th, 2016

[2016-02-16 19:36] mwbrooks commented on #62
@GarthDB is working through the App Showcase. We are paring down the content to showcase the top apps.

Let's schedule a quick check-in meeting.

[2016-02-16 19:38] mwbrooks commented on #15
We can close this off unless we need to add the cordova keywords for search.

[2016-02-16 19:41] #17 closed, assigned to devgeeks

[2016-02-16 19:42] mwbrooks commented on #65
Waiting on @wildabeast to help setup the node update server.

[2016-02-16 19:48] mwbrooks commented on #43
Sent a PR to be merged. Needs some review and feedback.

[2016-02-16 19:48] mwbrooks commented on #45
Sent a PR to be merged. Needs some review and feedback.

[2016-02-16 19:50] mwbrooks commented on #69
Working on Android / iOS using OS X. Cannot get it working on Windows without third-party software. Additionally, multi-cast npm module does not compile on Windows.

[2016-02-16 19:51] mwbrooks commented on #69
Let's document our research and shelve this for now.

[2016-02-16 19:54] mwbrooks commented on #74
Working and passing all the tests.

@purplecabbage is concerned that the tests are not complete.

One downfall is that the way that the PG Dev App works, it cannot use Content Sync to navigate to sync'd content.

[2016-02-17 19:58] hollyschinsky commented on #15
Added keywords, updated readme with usage for both CLI's and published latest to npm - https://www.npmjs.com/package/phonegap-template-framework7. Closing.

[2016-02-17 19:58] #15 closed, assigned to hollyschinsky

[2016-02-19 18:33] mwbrooks commented on #79
Announcement date: Feb 23 / 24th

[2016-02-19 18:34] surajpindoria commented on #23
All working and merged!

[2016-02-19 18:34] #23 closed, assigned to surajpindoria

[2016-02-19 18:35] mwbrooks commented on #81
Testing is complete and it's looking good. The release will happen today.

[2016-02-19 18:37] mwbrooks commented on #62
Looking good. We're doing some final pass-through on links and copy. Anyone feel free to file issues if you find something.

Aiming to release today - Monday.

[2016-02-19 18:41] mwbrooks commented on #11
Ready to release with PhoneGap@6.0.0

[2016-02-19 18:46] mwbrooks commented on #65
update.api.phonegap.com is online.

Herm is finishing up the last of the server, which needs to be published.

[2016-02-19 18:49] mwbrooks commented on #21
Going well.

![image](https://cloud.githubusercontent.com/assets/21328/13185522/76f3bc42-d6f6-11e5-939c-443c62c701ba.png)

[2016-02-19 18:50] mwbrooks commented on #33
We should keep pushing the docs forward. @devgeeks commits are detailed and a good place to base the docs off.

[2016-02-19 18:53] mwbrooks commented on #42
The plugin is published online and available.

[2016-02-19 18:53] #42 closed, assigned to macdonst

[2016-02-19 18:54] mwbrooks commented on #43
@timkim is testing. We can merge the PR once it's approved.

[2016-02-19 18:54] mwbrooks commented on #45
@timkim is testing. We can merge the PR once it's approved.

[2016-02-19 19:43] mwbrooks commented on #24
Available in [connect-phonegap@0.20.2](https://github.com/phonegap/connect-phonegap/commit/5637d045f88a8081aef633da54930d5c7a3931b2)

[2016-02-19 19:44] mwbrooks commented on #24
Published in `phonegap@6.0.0`

[2016-02-19 19:47] mwbrooks commented on #23
Available in [connect-phonegap@0.20.2](https://github.com/phonegap/connect-phonegap/commit/5637d045f88a8081aef633da54930d5c7a3931b2)

Published in `phonegap@6.0.0`

[2016-02-19 19:48] mwbrooks commented on #81
Published as `phonegap@6.0.0`

[2016-02-19 19:48] #81 closed, assigned to mwbrooks

[2016-02-19 19:49] mwbrooks commented on #11
Published as `phonegap@6.0.0`

[2016-02-19 19:49] #11 closed, assigned to mwbrooks

[2016-02-19 19:54] mwbrooks commented on #74
Windows platform support has been merged:
https://github.com/phonegap/phonegap-plugin-contentsync/tree/master/src/windows

We will need to create a separate task to track adding Windows support to the PG Dev App.

[2016-02-19 19:55] #74 closed, assigned to purplecabbage

[2016-02-19 20:00] mwbrooks opened #87 "Hire Summer Intern"
**Description**

We've got the green light to hire another summer intern! This always exciting and we've had a lot of our summer interns walk away from full-time job offers.

@purplecabbage and @stevengill are running the hiring process this year assisted by the entire team. They'll be attending the Adobe Tech Forum in San Jose on Feb 18-19 and then running interviews into the next week.

[2016-02-19 20:00] mwbrooks commented on #87
Estimate an offer letter to be sent out on Wednesday, Feb 24th.

[2016-02-19 20:06] mwbrooks opened #88 "Hire Senior Product Manager"
**Description**

We're looking to hire a Senior Product Manager to do tasks like what I'm doing right-here-right-now... except better. Huge bonus points if you're from the PhoneGap / Cordova community or if you have a strong open source community background.

**Follow**
- [Job Posting](https://adobe.taleo.net/careersection/2/jobdetail.ftl?job=40613)

[2016-02-19 20:30] purplecabbage commented on #87
What are our priorities with candidates?
Technical vs Social? Does expected grad date matter?

[2016-02-19 21:08] mwbrooks commented on #65
The server has been refactored and will be deployed into production today.

From there, @hermwong will be doing his final tests prior to release.

[2016-02-19 22:00] mwbrooks commented on #87
I think Social and Learner trumps Technical any day. But you and Steve are leading the hiring process, so it's ultimately your call.

@alharding any priority or preference on the expected grad date?

[2016-02-19 22:05] mwbrooks commented on #69
Waiting on @timkim to write up a report, which we will link here. Then we will put this milestone on hold.

[2016-02-20 00:24] mwbrooks commented on #69
You can read the [latest report on the work here](https://github.com/phonegap/phonegap-app-developer/issues/400).

[2016-02-22 18:24] #62 closed, assigned to GarthDB

[2016-02-22 19:44] mwbrooks commented on #34
Had a meeting with Microsoft to get consensus on it.

[2016-02-24 19:37] mwbrooks commented on #30
Issue: https://github.com/phonegap/phonegap-docs/issues/155

[2016-02-24 21:58] timkim commented on #45
Ok, here's an update on the situation:

Android: works with some minor configuration. I had to manually insert the `options.android.senderID` instead of injecting `push.js` (from[ `connect-phonegap`](https://github.com/phonegap/connect-phonegap/commit/b444e802049b1cd654680b0193ddf063e13f8597)). Not quite sure what the issue was, but I think there might be a small javascript error or something.

iO

[2016-02-26 18:41] mwbrooks commented on #79
Blog announcement went out:
http://phonegap.com/blog/2016/02/24/announcing-phonegap-community-support-on-adobe-forums/

Just waiting on a few community members to get their badge.

We will promote it more formally next week.

[2016-02-26 18:46] mwbrooks commented on #87
Interviews are complete. Offer(s) are going out.

[2016-02-26 18:47] mwbrooks commented on #87
Assigning @alharding as the owner, since he facilitates the offer discussion.

[2016-02-26 18:50] mwbrooks opened #89 "Post-Release Improvements and Fixes"
**Description**

Now that we've released, we're just catching the small issues that slipped through during the initial testing.

**Follow**
- [Repository](github.com/phonegap/phonegap.github.io)

[2016-02-26 18:53] mwbrooks commented on #16
At the moment, we are not going to focus on this.

[2016-02-26 18:53] #16 closed, assigned to nobody

[2016-02-26 18:53] mwbrooks commented on #10
Must review the Detailed IA document to decide whether the templates fit into the planned layout.

[2016-02-26 19:00] mwbrooks commented on #34
Progress is being made on a forked branch:
https://github.com/stevengill/cordova-lib/tree/CB-9858

[2016-02-26 19:05] mwbrooks opened #90 "iOS Webview Cocoapod 4.0.0"
**Description**

Update the Cocoapod to Cordova iOS 4.0.0

**Follow**
- [Issue](https://github.com/phonegap/phonegap-webview-ios/issues/6)

[2016-02-26 19:32] mwbrooks commented on #45
Thanks for the update @timkim!

I'm going to assign this roadmap item over to you. After you've tested out Windows Phone, we can move it back over to @macdonst's court.

[2016-02-26 19:36] mwbrooks commented on #65
**Blog post for PhoneGap Desktop 0.2.2:**
http://phonegap.com/blog/2016/02/24/phonegap-desktop-app-0.2.2/

This adds auto-update to OS X and resolves some connection issues.

**Blog post for PhoneGap Desktop 0.2.3:**
http://phonegap.com/blog/2016/02/25/phonegap-app-desktop-0-2-3/

This is a patch release that fixes a critical error with Electron 0.36.0, where `connect-phonegap` initializing a conn

[2016-02-26 19:37] #65 closed, assigned to hermwong

[2016-02-26 19:42] mwbrooks commented on #12
@hermwong sounds like template support will be included in the next release. Let me know if this is wrong.

[2016-02-26 19:47] mwbrooks commented on #24
We have a working prototype that is aligned with the functionality and approach used by the CLI. @surajpindoria now needs to work with @hermwong to ensure that it's acceptable, since it increases the build-time and release binary size. At the moment, we don't see any impact to the performance, but more testing is needed.

See:
- https://github.com/phonegap/phonegap-app-desktop/tree/browser
- https

[2016-02-26 19:51] mwbrooks commented on #21
This is progressing really well:

![pasted image at 2016_02_26 11_52 am](https://cloud.githubusercontent.com/assets/21328/13363629/2cd30166-dc7f-11e5-8514-4467ef4b15e3.png)

![framework7-playback](https://cloud.githubusercontent.com/assets/21328/13363632/3591dcc8-dc7f-11e5-98a8-ed3a7e9363c6.gif)

[2016-02-26 22:33] mwbrooks commented on #90
From the issue:

[2016-03-03 23:52] hollyschinsky commented on #90
This is now complete. New Cordova CocoaPod for 4.0.1 and new versions of the Cordova core plugins now available from the CocoaPods.org repo.  See the details here - https://github.com/phonegap/phonegap-webview-ios/issues/6.

[2016-03-03 23:52] #90 closed, assigned to hollyschinsky

[2016-03-04 18:34] mwbrooks commented on #79
Tweet promo went out. Still waiting on the final badge.

[2016-03-04 18:34] mwbrooks commented on #87
Sounds like we have a second intern opportunity!

[2016-03-04 18:40] mwbrooks commented on #89
Currently breaking the blog into a separate repo and ensuring that we can test for broken links.

[2016-03-04 18:43] mwbrooks commented on #12
@jahoni and @hermwong are currently coming up with a design / mockup for this feature.

[2016-03-04 18:44] mwbrooks commented on #24
This is coming along well. Currently:
- Performance testing on the Desktop (specifically Windows)
- Working through a race condition when adding the browser platform (?)

[2016-03-04 18:46] mwbrooks commented on #21
Coming into a good state. Working through minor improvements. Now starting to test it on other dev environments, since things often don't work as well when someone else tries to compile the app ;) @hollyschinsky is supporting @devgeeks.

One concern is that the Media plugin pinned by Cordova and shipped in the Dev App is `0.2.2`. Ideally, we'd like to use `0.2.3` for stability and improvements.

[2016-03-04 18:48] mwbrooks commented on #34
Made some progress this week. Working towards integrating into Cordova Lib behind a flag.

[2016-03-04 18:49] mwbrooks commented on #77
Looks like it's coming along well. I saw a working prototype of Windows 10 builds this week!

[2016-03-04 18:51] mwbrooks commented on #90
Nice work @hollyschinsky! Looks like some people are making use of this!

[2016-03-04 18:58] mwbrooks opened #91 "Map out Intern On-Boarding"
**Discussion**

@stevengill would like to map out the first week or two of the intern's experience. On-boarding to the team, the project, etc. We want to ensure that they work on a project that's meaningful and shipped to everyone!

**Involved**
- @purplecabbage
- @stevengill
- @shazron

[2016-03-04 19:00] mwbrooks opened #92 "PG Day EU 2016 Planning"
**Discussion**

A place to track workshop planning, sessions, etc.

[2016-03-04 19:00] mwbrooks commented on #92
Assigned to @macdonst until I find Jen's account :)

[2016-03-04 19:01] mwbrooks commented on #92
This week we reviewed the workshop and session submissions. Invitations should be going out shortly!

[2016-03-04 19:03] mwbrooks commented on #91
Maybe try to start this on Tuesday, March 8th

[2016-03-04 19:06] mwbrooks opened #93 "Monaca & PhoneGap Meeting in SF"
**Discussion**

Sounds like we are having a joint PhoneGap & Monaca meeting at the Adobe office in SF at the end of the month (March 28th).

**Organizers**

@stevengill is doing a lot of the planning for it, but will not be around to attend it.

Una from Monaca is also helping to plan it.

**Speakers**
- Sounds like @timkim, @purplecabbage, and Masa will be speaking at it.

**Follow**
- [PhoneGap

[2016-03-04 19:31] purplecabbage commented on #91
No. Bottom of the queue. We have many more important things to do.

[2016-03-07 19:35] mwbrooks commented on #87
Caryn has accepted our offer and starting on May 23rd and going until August!

[2016-03-07 19:37] mwbrooks commented on #87
Our second intern - _bonus intern!_ - will have an interview setup shortly.

[2016-03-07 19:39] mwbrooks commented on #92
Garth is working on the website updates to announce the speakers and workshops - likely coming out this week!

[2016-03-07 19:41] mwbrooks commented on #89
This is coming to an end. @GarthDB has moved our blog to a separate project and improving our release tests with a link checker. The issue is that 8 years of blog posts have a lot of broken URLs :P So we may only check the latest blog posts going forward.

[2016-03-07 19:46] mwbrooks commented on #21
@devgeeks feels like the example app is feature complete and ready to be tested. There is a router bug that is difficult to reproduce - seems to be iOS related.

[2016-03-07 19:49] mwbrooks commented on #45
Assigning to @macdonst to test out @timkim latest cert changes.

[2016-03-10 23:32] mwbrooks opened #94 "PhoneGap Accessibility Plugin"
**Description**

We should consider adding the [PhoneGap Accessibility](https://github.com/phonegap/phonegap-mobile-accessibility) to the PhoneGap Developer App. It's actively developed.

We should just ensure that it is opt-in and will not impact people who do not use it.

[2016-03-11 18:53] mwbrooks commented on #92
Session agenda is solid.
Workshop agenda is WIP.
Workshops are sold out!
Session ticket sales have started and picking up!

[2016-03-11 19:50] mwbrooks commented on #79
@alharding when you have a moment, we could use an update on the status on the moderator badges.

[2016-03-11 19:51] mwbrooks commented on #87
Interviews for the second intern have started today!

[2016-03-11 19:52] mwbrooks commented on #12
@jahoni has landed the design mockups. @hermwong is performance testing the addition of `phonegap` to the Desktop app.

[2016-03-11 19:53] mwbrooks commented on #24
@surajpindoria is working an issue where hot-swapping the served app can cause the incorrect app to be displayed.

[2016-03-11 19:54] mwbrooks commented on #21
Group testing has started on the app. Point your desktop browser (in Web Inspector device mode), mobile browser, or PhoneGap Developer App to http://pgmedia.herokuapp.com

[2016-03-11 19:55] mwbrooks commented on #33
Insane summary of the Example app work!
[example-app-progress.pdf](https://github.com/phonegap/phonegap-roadmap/files/169858/example-app-progress.pdf)

[2016-03-11 19:56] mwbrooks commented on #34
@stevengill when you have a moment, can you drop a brief update on this work.

[2016-03-11 21:51] mwbrooks opened #95 "README - Desktop Browser"
**Description**

The _Desktop Browser_ encompasses the browser platform and control to help develop your mobile app. The browser platforms allow for quick viewing of the mobile app in the desktop browser. This aligns PhoneGap development closer to the web, so that developers can use familiar tools (Web Inspector). A downside of the Browser Platform is that it cannot support most device APIs withou

[2016-03-11 22:56] mwbrooks opened #96 "Isolate Browser Platform"
**Description**

The browser platform is consider a component of the Dashboard. Since the browser platform contains the mobile app, it must be isolated from the rest of the Dashboard.

**Follow**
- Nothing to follow yet

[2016-03-11 22:57] mwbrooks commented on #27
Blocked by #96

[2016-03-14 18:35] mwbrooks commented on #79
All of our moderators should be setup by end-of-week.

@alharding is setting up a team support rotation - 2 person teams. He'll send it out this week.

[2016-03-14 18:37] mwbrooks commented on #87
Caryn has accepted our offer and will be starting in May after PG Day EU.

Our team is waiting for our second intern interviews to be lined up. Nothing to happen on our side.

[2016-03-14 18:39] mwbrooks commented on #92
Ticket sales are going well. We're 132 / 250 tickets sold.

[2016-03-14 18:41] mwbrooks commented on #89
The blog is currently being moved over to a separate repo - held up by the tests.

Anyone can submit bugs to fix.

@jahoni will be delivering more mocks for the second phase soon.

[2016-03-14 18:42] mwbrooks commented on #12
@hermwong is currently prototyping the mockups.

[2016-03-14 18:47] mwbrooks commented on #45
Certs have been verified.

@macdonst is now adding a few updates to the Push plugin and then we can move forward with a release.

[2016-03-16 22:53] mwbrooks opened #97 "Wikitude Plugin"
**Description**

Wikitude has a create Augmented Reality SDK and a longstanding Cordova plugin. We're going to look at promoting Wikitude's work more and allow our users to access AR features within the Dev App.

**Follow**
- Nothing to follow yet

[2016-03-17 21:25] timkim commented on #45
I've updated the plugin but it appears that it now requires a `SENDER_ID` when you install:
`phonegap plugin add phonegap-plugin-push --variable SENDER_ID="XXXXXXX"`

However, since we install plugins via `config.xml`, there doesn't seem to be a nice, clean way of passing that `SENDER_ID` using `config.xml`.

Annoyingly, when running `npm run [release][adhoc]-[android|ios]`, `cordova` will actuall

[2016-03-17 21:32] macdonst commented on #45
Yes there is. Pass - - save to the install to save it into config. Xml. Or
we can do an npm script to read it from the keys repo.

[2016-03-17 21:35] timkim commented on #45
Ohhh - well there ya go :D

[2016-03-21 18:36] mwbrooks commented on #79
Last task is to post a message on the Google Groups to promote the Adobe forums. Likewise for the GetSatisfaction.

[2016-03-21 18:36] mwbrooks commented on #87
Second req paper work and offer are getting finalized and sent out.

[2016-03-21 18:38] mwbrooks commented on #88
Dave is back in action and pushing forward on the PM hiring. We'll be approaching PMs of interest and open to community applications.

[2016-03-21 18:40] mwbrooks commented on #92
Finalized the schedule, opening, close, and MC position.

Sold 143 / 250 tickets. Workshop is sold out.

[2016-03-21 18:41] mwbrooks commented on #12
Adding in the PhoneGap CLI dependency to the Desktop app in order to add template support.

Most of the UI workflow has been wired into it already.

[2016-03-21 18:42] mwbrooks commented on #24
Waiting on @timkim to review the work before publishing it.

[2016-03-21 18:44] mwbrooks commented on #21
Testing has been going well. Adding WP support now.

@devgeeks can you file an issue to fix the full screen issue on WP.

[2016-03-21 18:45] mwbrooks commented on #34
Plugin and template integration remaining.

[2016-03-21 18:46] mwbrooks commented on #45
Find out from @macdonst whether the `SENDER_ID` is a security risk for an open source project.

[2016-03-21 20:49] macdonst commented on #45
Exposing the `SENDER_ID` is not the end of the world. If you have someone's sender ID you can request a GCM registration token from Google but once you have that you are stuck. You won't be able to send a message to that registration token unless you have an API key that was generated from the same project as the `SENDER_ID`. Google allows you to setup what domains you are allowed to make API call

[2016-03-21 20:51] macdonst commented on #92
Cool, who's doing open/close/MC?

[2016-03-21 21:24] davejohnson commented on #92
Satwinder!

[2016-03-21 22:58] stevengill commented on #92
Well we still need to 100% finalize. But I suggested @macdonst open, @shazron close. I am MCing

[2016-03-21 23:32] timkim commented on #45
Ok - I'll just leave in the `config.xml` then.

[2016-03-22 11:58] macdonst commented on #92
@stevengill :+1:

[2016-03-24 23:29] mwbrooks opened #98 "Redesign Mobile Icon"
**Description**

When the Mobile App is redesigned, it will need a new icon to match the PhoneGap brand. This brand is currently showcased by phonegap.com and the Desktop app.

**Follow**
- Nothing to follow yet

[2016-03-24 23:31] mwbrooks opened #99 "Redesign Desktop Icon"
**Description**

The Desktop app currently uses the same icon as the Mobile app. This was mostly out of convenience and we should consider updating it.

**Follow**
- Nothing to follow yet

[2016-03-25 18:14] mwbrooks commented on #12
@hermwong is currently working through Electron related issues with shelling out to the Cordova CLI.

[2016-03-25 18:17] mwbrooks commented on #24
Published `connect-phonegap@0.20.4` to support project switching (restarting the server with a different project, while keeping a live connection the device).

[2016-03-25 18:21] mwbrooks commented on #21
@jahoni got back to @devgeeks with some solid UI/UX feedback. This will be the last major revision. Last up is the name!

[2016-03-25 18:24] hermwong commented on #12
![screen recording 2016-03-25 at 11 22 am](https://cloud.githubusercontent.com/assets/107754/14050878/184cd16e-f27c-11e5-9a18-979319b37432.gif)

[2016-03-25 18:28] mwbrooks commented on #97
@timkim has ran into a few issues with the Wikitude plugin. The plugin itself can be invoked using the Dev App, however, the test project has pathing issues because the Dev App's Content Sync puts the assets in a different place than a compiled project.

[2016-03-25 18:37] mwbrooks opened #100 "Hello World Update"
**Description**

The Hello World `config.xml` is outdated, confusing, and messy. Chris Griffith and @devgeeks have started looking into paring it down to the essentials.

**Follow**
- [Pull Request](https://github.com/phonegap/phonegap-template-hello-world/pull/10)

[2016-03-25 18:39] mwbrooks commented on #100
You can checkout a [preview of the new config.xml](https://github.com/phonegap/phonegap-template-hello-world/blob/chrisgriffith-master/config.xml).

[2016-03-25 19:11] surajpindoria commented on #24
![desktop app browser](https://cloud.githubusercontent.com/assets/6467569/14051657/ddeb9dec-f281-11e5-8e1e-2203d2211fde.gif)

[2016-03-25 19:24] surajpindoria commented on #24
![desktop app browser](https://cloud.githubusercontent.com/assets/6467569/14052034/5c00a78e-f284-11e5-80a2-c378cadcddfa.gif)

[2016-03-26 00:59] devgeeks commented on #100
Also modifies the index.html, and adds all icons for Android, iOS, Windows and WP8.

[2016-03-26 00:59] devgeeks commented on #21
:+1:

[2016-03-28 11:28] devgeeks commented on #21
Latest update: Windows

[Windows and the example app - video](https://www.dropbox.com/s/n9vqfv18a1p4ffw/example-app-and-windows-small.m4v?dl=1)

[2016-03-28 18:06] mwbrooks opened #101 "Device to Browser API Proxy Prototype"
**Description**

A fault of the browser platform is that it uses mock data for most of the plugin APIs. This roadmap task will explore the feasibility of pairing a device and browser to the `phonegap serve` command. Any browser platform API calls will be delegated to the device and returned back to the browser. For example, returning a contact or photo.

The specific of how this can be done are le

[2016-03-28 18:14] mwbrooks commented on #97
@timkim is currently running into pathing issues due to the where Content Sync extracts the app compared to where the app is traditionally compiled to:
<img src="https://cloud.githubusercontent.com/assets/21328/14085709/3159d68c-f4d6-11e5-8d9d-d632907328cc.jpg" height="500px">

[2016-03-28 18:37] mwbrooks commented on #79
Kerri has posted a message on the Google Groups (pinned). There is also a GS message. We can create another task to track closing.

[2016-03-28 18:37] #79 closed, assigned to alharding

[2016-03-28 18:37] mwbrooks commented on #87
We've had a verbal accept and waiting on the paperwork for the final agreement.

[2016-03-28 18:38] mwbrooks commented on #88
@davejohnson is waiting on Nora to post the updated job description and Dave will be posted on PM specific ones.

[2016-03-28 18:39] mwbrooks commented on #93
Meetup happens tonight! Closing. Good luck @purplecabbage and @timkim!

[2016-03-28 18:39] #93 closed, assigned to stevengill

[2016-03-28 18:41] mwbrooks commented on #92
Agenda, workshops, and sponsors are finalized.

Already sold more tickets than last year and the last few are going quick!

[2016-03-28 18:42] #89 closed, assigned to jahoni

[2016-03-28 18:44] macdonst commented on #45
Push support is in and will be part of the 1.6.0 release.

[2016-03-28 18:46] macdonst commented on #48
Started working on this with CSDK team, repos at:

https://github.com/CreativeSDK/phonegap-plugin-csdk-client-auth
https://github.com/CreativeSDK/phonegap-plugin-csdk-image-editor

[2016-03-28 18:58] mwbrooks commented on #77
Working on the production aspect of PGB.

[2016-03-28 20:59] mwbrooks opened #102 "StoryCorps Pause/Resume for PGD EU"
**Description**

During PG Day US, we learned that a shortcoming of StoryCorps was that they could not pause/resume audio recording. We're now taking steps to extend the Media plugin to support these features. Our goal is to have it available before StoryCorps presentation at PG Day EU in May.

**Follow**
- [CB-10776](https://issues.apache.org/jira/browse/CB-10776)
- [Fork of cordova-plugin-media]

[2016-03-28 21:02] mwbrooks commented on #45
Punting this task over to @timkim. We are now waiting on the iOS app to be published out with the latest Push plugin.

[2016-03-28 21:04] mwbrooks commented on #43
Blocked by the release of the Mobile app with Push support (#45 )

[2016-03-28 21:34] mwbrooks opened #103 "Lock Google Groups"
**Description**

All community questions are now going to the [Adobe PhoneGap Community](https://forums.adobe.com/community/phonegap). At the _end of May_ GetSatisfaction will be locked for PGB questions. A month later, we will lock Google Groups, unless we find a reason to keep it open. Even though GG will be locked, the archive will be available.

**Deadline**
- End of June, 2016

[2016-03-29 03:48] devgeeks commented on #33
The commits are no longer as clean as they were (there are some incremental commits now), so the source of truth is now the CHANGELOG)

[2016-03-30 17:28] surajpindoria commented on #24
Managed to fix project switching for the browser, it now works as intended on all platforms! Going to merge all work into a single branch and retest. Looking like this will get released after template support.

[2016-03-31 01:44] devgeeks commented on #100
This has been pushed to master, just waiting on the return or @stevengill for publishing?

[2016-03-31 02:22] mwbrooks commented on #100
@devgeeks I've added you as a owner. Publish away!

[code]

[2016-03-31 03:35] devgeeks commented on #100
Published v4.0.0 (the tags were out of sync with the package.json, so I bumped it up a major from the highest tag version)

[2016-03-31 23:33] hermwong commented on #12
Cleaned up the transition when using the `Next` and `Back` buttons in the Template workflow.

![screen recording 2016-03-31 at 03 03 pm](https://cloud.githubusercontent.com/assets/107754/14193943/45989ec8-f75e-11e5-8dd8-0cac2cd478cb.gif)

[2016-04-01 17:34] mwbrooks commented on #87
Julia has accepted our offer. Stoked to meet her on May 23rd!

[2016-04-01 17:34] #87 closed, assigned to alharding

[2016-04-01 17:36] mwbrooks commented on #92
Promo and travel arrangement happening next week!

2 weeks from now, we will be formally announcing the workshop and session schedules.

[2016-04-01 17:38] mwbrooks commented on #63
Last week, @GarthDB split out the blog into it's own repo: https://github.com/phonegap/reblog

[2016-04-01 17:41] mwbrooks commented on #78
We did the kick-off call and we are aiming for an informal July 1st ship date.

[2016-04-01 17:44] mwbrooks commented on #100
Thanks @devgeeks! @hollyschinsky has reviewed it and we can close this off.

[2016-04-01 17:44] #100 closed, assigned to devgeeks

[2016-04-01 17:46] mwbrooks commented on #24
Awesome, thanks @surajpindoria.

We are now waiting on the Desktop Template support release to ship.

[2016-04-01 17:49] mwbrooks commented on #86
@hollyschinsky has started work on it now.

[2016-04-01 17:51] mwbrooks commented on #21
We are blocked by picking a name. Help!
https://github.com/phonegap/phonegap-app-media/issues/1

[2016-04-01 17:58] mwbrooks opened #104 "Host PGB Docs on docs.phonegap.com"
**Description**

Consolidate the docs into one awesome place!

**Follow**
- [Branch](https://github.com/phonegap/phonegap-docs/tree/phonegap-build-docs)
- [Pull Request](https://github.com/phonegap/phonegap-docs/pull/168)

[2016-04-01 17:59] mwbrooks commented on #97
@timkim needs to loop around with Wikitude to get some help on moving this forward.

[2016-04-01 23:22] GarthDB commented on #63
I added [html-proofer](https://github.com/gjtorikian/html-proofer) to test all the links and images on the phonegap websites using [Travis CI](http://travis-ci.org)
- [phonegap/phonegap.github.io](https://github.com/phonegap/phonegap.github.io) [![Travis CI Build Status](https://api.travis-ci.org/phonegap/phonegap.github.io.svg)](https://travis-ci.org/phonegap/phonegap.github.io): the primary repo

[2016-04-04 14:27] macdonst commented on #43
With the release of 1.6.0 of the mobile app I can go back to testing our push service against the release version of the app on iOS and Android.

[2016-04-04 14:56] macdonst commented on #48
Short demo of the CSDK plugin: https://dl.dropboxusercontent.com/u/887989/csdk-demo.mov

[2016-04-04 18:27] mwbrooks commented on #45
Submitted on Friday. Waiting on App Store approvals.

[2016-04-04 19:56] hollyschinsky commented on #86
Here's a short video preview of my latest.

http://recordit.co/SPPLJEMI6U

I may break out sections and expand in sidebar like the other references there now.

[2016-04-04 20:16] macdonst commented on #43
Incorrect 1.6.0 is still not released. Waiting for it.

[2016-04-05 14:53] macdonst commented on #45
The app showed up in the App store for Android and iOS. I tested 1.6.0 on iOS but it does not even show the allow push dialog. Looking into things a bit more since it is pretty hard to debug Release iOS apps I checked all the properties on the window object. I was able to see things like:

[code]

but not `PushNotification`. So I'm assuming my call to `PushNotification.init()` causes an error in t

[2016-04-05 18:36] timkim commented on #45
Ya I totally forgot to merge in the latest `push` branch into `dev`. Whoops!

Making the new ipa now.

[2016-04-07 16:16] macdonst commented on #48
Worked on a plugin to enable login to IMS using the CSDK. The repo is:

https://github.com/CreativeSDK/phonegap-plugin-csdk-user-auth

and implementation for Android and iOS looks good so far. Quick demo recording on Android (no audio) can be found at: https://dl.dropboxusercontent.com/u/887989/csdk-login.mp4

[2016-04-07 17:19] macdonst commented on #102
Started working on this on my fork:

https://github.com/macdonst/cordova-plugin-media

iOS is currently working.

[2016-04-07 22:57] hermwong commented on #24
This will feature will ship as Desktop 0.2.4.

We are now in the final testing phase and will need to coordinate this release with the PhoneGap CLI (desktop-browser branch), connect-phonegap (desktop-browser branch) and Documentation updates.

[2016-04-08 01:56] macdonst commented on #102
And Android is working. Pausing recording on Android is "not fun".

[2016-04-08 17:35] mwbrooks commented on #88
We have about 20-30 applications that Nora is reviewing.

[2016-04-08 17:38] mwbrooks commented on #92
Agenda, workshop schedule, and speakers will be appearing on the website soon.

Travel and hotel is done for most of the speakers.

We're on track to announce the workshop and session schedules next week.

[2016-04-08 17:48] mwbrooks commented on #20
Moving along really well. @surajpindoria is just finishing tests.

[2016-04-08 17:49] mwbrooks commented on #86
Nearly done. Broke the documentation into sub-sections to help make it more readable. She's just updating the screenshots and a final review now.

**Potential blocker**: There is a race condition in the serve command for preparing projects. In the `connect-phonegap`.

[2016-04-08 18:23] mwbrooks commented on #97
There has been a lot of back and forth with the Wikitude team to see this resolved. It's going well!

[2016-04-08 18:32] mwbrooks opened #105 "Android Embeddable Webview"
**Description**

We're looking into making it more natural for native Android developers to embed the Cordova webview into their project. Our hope is to see this land in Apache Cordova, but will fall back on publishing it as a PhoneGap project.

**Follow**
- [Apache Cordova Mailing List Discussion](http://callback-dev.markmail.org/thread/f23ut2nt7xrqftlp)

[2016-04-08 18:33] mwbrooks commented on #45
Resubmitted and waiting on review.

[2016-04-08 18:35] timkim commented on #97
Ya, there's been a lot of back and forth and the wikitude people have been quite helpful. However, the core issue remains where I can't get the plugin to get pass some errors when loading the AR worlds.

[2016-04-08 18:40] mwbrooks commented on #63
@GarthDB has started working on adding an author page to the blog!

Preview: http://phonegap.com/blog/author/ryan-willoughby/

[2016-04-08 18:41] mwbrooks commented on #63
![image](https://cloud.githubusercontent.com/assets/21328/14394005/d7e96926-fd7e-11e5-913e-c5cdf6066560.png)

[2016-04-08 22:07] timkim commented on #45
It has been done.

[2016-04-08 22:46] mwbrooks commented on #102
@macdonst is now waiting for usage feedback from the StoryCorps team.

[2016-04-08 22:53] mwbrooks commented on #12
_Loading indicator_ on start up:

![](https://cloud.githubusercontent.com/assets/107754/14399386/133adbaa-fda1-11e5-8fee-bf5edfc64dd7.gif)

[2016-04-11 14:34] macdonst commented on #45
@timkim we need to take another look at this and not specifically for Push but it certainly would help push. I've tried to test and it appears that the app locks up on my phone. I then did a little digging and it seems like we are still using cordova-ios 4.0.1 in the PhoneGap Developer app which means that the bug https://issues.apache.org/jira/browse/CB-10530 exists in the app. That's a pretty se

[2016-04-11 18:16] timkim commented on #45
Drag. Ok, well I'll upgrade and prep another release.

[2016-04-11 19:53] hollyschinsky commented on #86
Quick video of latest updates showing side menu subsections: http://recordit.co/CqvnHQ2tMw

Latest content checked into same [browser-docs](https://github.com/phonegap/phonegap-docs/tree/browser-docs) branch.

[2016-04-11 20:12] #20 closed, assigned to surajpindoria

[2016-04-11 20:18] mwbrooks commented on #21
Sounds _TrackStar_ is the top choice? Everyone, please chime in.

[2016-04-11 20:20] mwbrooks commented on #21
@timkim suggested _Startrak_

[2016-04-11 20:20] mwbrooks commented on #34
@stevengill is back!

[2016-04-11 21:49] timkim commented on #45
Just resubmitted.

[2016-04-11 22:44] imhotep commented on #101
https://dl.dropboxusercontent.com/content_link/bGHPOEWt3guYXqI7dKW66VoyfUhtAJhbt081hMkfTQx1C1X83tM5dszuLvFTVx0e/file

[2016-04-11 22:46] imhotep commented on #101
https://www.dropbox.com/s/0w2x9hfcevmudmf/bdsync.mp4?dl=0

[2016-04-11 23:58] imhotep commented on #101
https://www.dropbox.com/s/2wducnphqj2k3xt/camera_getPicture.mp4?dl=0

[2016-04-13 00:24] mwbrooks commented on #96
Out of scope. Nice work @purplecabbage!

[2016-04-13 00:24] #96 closed, assigned to purplecabbage

[2016-04-15 17:37] mwbrooks commented on #88
No word from Nora, but @davejohnson is following up on two leads.

[2016-04-15 17:39] mwbrooks commented on #92
On Monday, let's talk about the workshop waitlist and any plan around that.

[2016-04-15 17:43] mwbrooks commented on #91
On Monday, let's find out who's interested and setup a discussion to talk about it.

[2016-04-15 17:45] mwbrooks commented on #63
We've had a meeting to hand ownership of this over to @GarthDB. He may be breaking this into some more granular projects.

[2016-04-15 17:48] mwbrooks opened #106 "Update Docs Navigation Panel"
**Description**

The documentation side navigation is starting to hit it's UX limit. Now that we are adding more content, such as the browser references and the PGB documentation, the navigation is becoming difficult to use.

**Follow**
- [Issue](https://github.com/phonegap/phonegap-docs/issues/122)

[2016-04-15 17:49] mwbrooks commented on #106
@jahoni will setup a meeting with @hollyschinsky and @GarthDB to discuss the next steps

[2016-04-15 17:51] davejohnson commented on #91
Compile this plan here https://drive.google.com/open?id=1WU-8wHmrd7MHsoDfShQ42GEktJWWD0bZqe9yfTzYHrE

[2016-04-15 17:55] purplecabbage commented on #91
How is that a plan? Quitters checklist?

[2016-04-15 17:59] davejohnson commented on #91
good question. https://drive.google.com/open?id=1WU-8wHmrd7MHsoDfShQ42GEktJWWD0bZqe9yfTzYHrE

[2016-04-15 18:00] mwbrooks commented on #12
On Hold until Browser Platform ships on the Desktop.

[2016-04-15 18:01] mwbrooks commented on #24
Getting ready to ship next week.

[2016-04-15 18:09] mwbrooks commented on #101
@jahoni is going to take a look at the videos to get a sense of the UX. Thanks @imhotep!

[2016-04-15 18:13] mwbrooks commented on #86
Complete but waiting on Monday release for the Desktop app.

Not blocked by the navigation.

[2016-04-15 18:16] mwbrooks commented on #21
Suggestion: _Star Track_

[2016-04-15 18:18] mwbrooks commented on #45
Shipped 1.6.3 with proper iOS version and Push plugin support. @macdonst has verified that it returns the ID. Now we need to test on the tooling side.

[2016-04-15 18:21] mwbrooks commented on #104
A pull request has been sent with the content. We now need to update the docs navigation to support PGB.

Blocked by: #106

[2016-04-15 18:25] mwbrooks commented on #77
Working now and entered in QA.

[2016-04-18 19:14] macdonst commented on #43
PG Dev App 1.6.2 is released and I can get a registration ID for my push test app. Need to do additional testing to send pushes to the dev app.

[2016-04-18 19:15] macdonst commented on #48
Started on the Asset Browser. This one is going to be a pain as you quickly get above the 64k method limit in Android so I had to start using multidex to get around it. Regardless, I do have a small demo of the asset browser running on Android but there is still a bunch more work to do on Android and iOS.

https://dl.dropboxusercontent.com/u/887989/assetbrowser.mp4

[2016-04-18 20:13] mwbrooks commented on #24
Shipping today.

[2016-04-18 20:14] mwbrooks commented on #101
@imhotep is currently reviewing the plugins to ensure that they work with the proxy implementation.

[2016-04-18 20:14] mwbrooks commented on #86
Releasing along side the Desktop App release.

[2016-04-18 20:21] mwbrooks commented on #97
Working properly on Android now.

The Wikitude team has created a branch to solve some of the iOS issue.

[2016-04-19 02:42] macdonst commented on #43
Successfully able to send pushes via a local instance of the push server. Will update the AWS instance tomorrow.

[2016-04-19 17:52] macdonst commented on #43
AWS instance now running production APNS and I was able to send pushes via the rest interface to the PG Dev App. Testing continues to be a PITA due to Adobe Corp network.

[2016-04-20 21:06] mwbrooks commented on #25
Closing because too detailed too early.

[2016-04-20 21:06] #25 closed, assigned to nobody

[2016-04-21 15:23] mwbrooks opened #107 "Docs for Push"
**Description**

We need to add some documentation for the push notification support in the CLI.

[2016-04-21 15:52] macdonst commented on #43
Testing done, PR's merged. Next steps are blog post before releasing next CLI.

[2016-04-21 15:53] macdonst opened #108 "Analytics for Push"
_Description_

We need to way to tract the usage of the push notification server. Check out our keen.io account

[2016-04-21 22:15] timkim commented on #97
Well it appears that the fix didn't work for ios. So Mike and I are in a scheduled meeting with the Wikitude on the 26th. In the mean time, here's a demo of the AR stuff in action.

https://www.dropbox.com/s/0kks1aqmcev4we4/wikitude.mov?dl=0

I uploaded the phonegap wing image to be recognised by the AR plugin so it shows the phonegap landspeeder image. Pretty cool.

[2016-04-22 17:50] #86 closed, assigned to hollyschinsky

[2016-04-22 17:51] mwbrooks commented on #21
Open sourced and a blog post is being written.

[2016-04-22 20:32] mwbrooks opened #109 "Desktop App Push Support"
**Description**

We need a UI for the push feature in the desktop app.

**Follow**
- Nothing yet.

[2016-04-22 20:34] mwbrooks commented on #49
Closing - too vague.

[2016-04-22 20:34] #49 closed, assigned to nobody

[2016-04-22 20:43] macdonst commented on #43
PhoneGap CLI 6.2.0+cordova-6.1.1 published.

[2016-04-22 21:26] devgeeks commented on #21
Blog post published

http://phonegap.com/blog/2016/04/21/introducing-star-track-by-phonegap/

[2016-04-22 22:26] mwbrooks commented on #78
@devgeeks has been playing with TransitionGroup and animations in preparation for the refactor:

![transitiongroup-animations](https://cloud.githubusercontent.com/assets/21328/14756479/7f332576-089e-11e6-9e1e-90d1cd581737.gif)

[2016-04-22 22:36] mwbrooks opened #110 "PhoneGap Desktop 0.3.2 Bug Fixes"
**Description**

Since releasing the Browser support for the Desktop App, we are now going into a period of hardening while we ensure that the extra weight of the `phonegap-cli` node module does not have negative impacts.

**Follow**
- [0.2.3 Milestone - Bug Fixes](https://github.com/phonegap/phonegap-app-desktop/milestones/0.3.2%20Bug%20Fixes)

[2016-04-22 22:48] mwbrooks opened #111 "Add Link to Japanese Documentation"
**Description**

We're starting to get into internationalization of the documentation (again). Starting with the Japanese documentation. A team within Adobe has taken care of the translation, but we will want to add navigation to the website and ensure it does not break our design.

**Follow**
- [Issue](https://github.com/phonegap/phonegap-docs/issues/205)

[2016-04-22 22:52] surajpindoria commented on #24
Currently working on a fix for plugins not properly loading. Solution is to remove the workaround that is currently adding the browser platform. Getting following error when trying to add platform using the CLI:

![browser error](https://cloud.githubusercontent.com/assets/6467569/14756834/3157e91e-08a2-11e6-83ae-bdf9d955aead.jpg)

[2016-04-23 16:19] macdonst commented on #108
Created Keen.io project and added tracking into phonegap-service-push.

[2016-04-24 23:58] macdonst commented on #45
@timkim we need to spin a new version for Android. The problem we had on iOS with regards to the push plugin not being part of the .ipa is current plaguing the .apk. When 1.6.0 was built and didn't have the commit to include the SENDER_ID in config.xml that caused the plugin to fail to install for both iOS and Android. So we need to spin up a new version for Android to include the push plugin.

[2016-04-25 00:49] macdonst commented on #107
Created a template for the push docs example app, https://github.com/phonegap/phonegap-template-push

[2016-04-25 17:39] macdonst commented on #107
Created a PR for the docs but need to take some screeshots: https://github.com/phonegap/phonegap-docs/pull/173

Happy to have some folks read it over cc: @mwbrooks, @hollyschinsky

[2016-04-25 18:27] stevengill commented on #34
Lots of discussion has been happening around the fetch proposal and how it is going to work with npm install. Microsoft, IBM and others are chiming in. https://github.com/cordova/cordova-discuss/pull/33. Uninstall method was added to cordova-fetch that runs npm uninstall.

[2016-04-25 18:35] timkim commented on #45
Egads. Ok, well at least android will be pretty quick.

[2016-04-25 18:53] timkim commented on #45
Ok, released and should be available in a few hours.

[2016-04-25 20:02] macdonst commented on #45
Released, downloaded and tested. Seems to be working. Thanks @timkim

[2016-04-25 20:02] #45 closed, assigned to timkim

[2016-04-25 20:03] mwbrooks commented on #88
Some interviews are setup this week!

[2016-04-25 20:04] hollyschinsky commented on #106
Initial trial/prototype work in progress - latest video here -> http://recordit.co/VwoPuGzxco

[2016-04-25 20:05] mwbrooks commented on #92
Coming close to selling out. Anyone who wants to grab a ticket - do it now!

Now onto the details of swap, sponsors, etc.

[2016-04-25 20:06] mwbrooks commented on #91
Everything is setup for the interns first two weeks!

[2016-04-25 20:06] #91 closed, assigned to stevengill

[2016-04-25 20:07] mwbrooks commented on #110
This patch will include general fixes and browser fixes. No ETA for release.

[2016-04-25 20:07] mwbrooks commented on #63
Solving general problems and quirks to tighten up the blog, comments, etc.

[2016-04-25 20:10] mwbrooks commented on #106
Great video @hollyschinsky!

Sounds like @jahoni and @hollyschinsky will chat about the UX expectations.

[2016-04-25 20:21] #21 closed, assigned to devgeeks

[2016-04-25 20:23] #43 closed, assigned to macdonst

[2016-04-25 20:24] mwbrooks opened #112 "Blog post for Push"

[2016-04-25 20:27] mwbrooks commented on #77
Deployed live today! Blog post coming awesome.

[2016-04-25 20:28] mwbrooks commented on #105
Cordova community is down for moving forward. Expect this to land on major.

[2016-04-26 15:58] macdonst commented on #102
I heard from the StoryCorps team today and they've been able to test pause/resume recording and it is working so I will merge into cordova-plugin-media master today.

[2016-04-26 16:24] macdonst commented on #102
Merged in the code. Need to schedule a release.

[2016-04-26 17:25] mwbrooks commented on #102
Amazing!

[2016-04-26 18:43] macdonst opened #113 "Add push template to CLI"
We should include the template in the phonegap template list command add a shortened name, such as push.

[2016-04-26 23:14] jahoni commented on #111
Mock-ups for adding a language selector:

_DESKTOP_
[PSD](https://www.dropbox.com/s/o1divx679fwocm6/docs-mockup.psd?dl=0) | PNG:
![docs-desktop_0000_normal](https://cloud.githubusercontent.com/assets/178345/14836979/682bd1d8-0bc9-11e6-83d9-4fe5d327a037.png)

_HANDHELD_
[PSD](https://www.dropbox.com/s/wriwnaao4i4gzr4/mockup-hand.psd?dl=0) | PNG:
![docs-hand](https://cloud.githubusercontent.com/asse

[2016-04-28 19:18] macdonst commented on #107
Docs are up.

http://docs.phonegap.com/develop/push-notifications/

[2016-04-28 19:18] #107 closed, assigned to macdonst

[2016-04-28 19:19] macdonst commented on #112
Blog post is up http://phonegap.com/blog/2016/04/28/phonegap-cli-6-2-0/

[2016-04-28 19:19] #112 closed, assigned to macdonst

[2016-04-29 17:42] mwbrooks commented on #92
Everything is looking good. Working on the logistics of shipping materials to the EU.

[2016-04-29 17:47] mwbrooks commented on #106
Basic expand/collapse is working. Holly has been focusing on improving rendering performance and dynamically generating the docs navigation.

[2016-04-29 23:41] imhotep commented on #101
All plugins should work out of the box. Plus now works on iOS with minor tweaks to developer app project settings. Added unit tests for most things. In the process of trying to get mobile-spec to run.

[2016-05-02 17:35] surajpindoria commented on #24
Found a temporary solution to the plugins not loading properly.

Mike has been investigating how to get the browser platform added properly, he has been able to find the root cause. Issue is that the Electron shell that is packaged with apps does not include the node binary but a dynamic library.

[2016-05-09 18:29] stevengill commented on #34
ready for merge. Tools release this week will include the PR

[2016-05-09 19:54] hollyschinsky commented on #106
In process of fixing the issues Joni reported last week with the menu on mobile specifically and some other UI stuff - all tracked here:

https://github.com/phonegap/phonegap-docs/issues/175
https://github.com/phonegap/phonegap-docs/issues/176
https://github.com/phonegap/phonegap-docs/issues/177

Also perfecting landing pages this week.

[2016-05-09 20:23] macdonst commented on #108
Keen.io all setup and collecting data. I created a few queries to count the number of push messages sent in the past 14 days.

**All** https://keen.io/project/571a900a33e4062a76018f27/explorer?saved_query=push-notifications-sent-in-the-past-14-days
**iOS** https://keen.io/project/571a900a33e4062a76018f27/explorer?saved_query=push-notifications-sent-to-ios-devices-in-the-past-14-days
**Android** ht

[2016-05-09 20:24] #108 closed, assigned to macdonst

[2016-05-09 20:26] macdonst commented on #92
Friday May 13th at 2pm (Eastern)/10am (Pacific) we will have a PG Day EU Slide and Workshop Review meeting.

[2016-05-09 20:33] mwbrooks commented on #31
Waiting on the PG Dev App to ship the latest media plugin. Currently merged from a PR, so we are just waiting on the release.

[2016-05-11 18:39] mwbrooks opened #114 "Barcode Scanner Plugin"
**Description**

The latest barcode scanner plugin is popular, supports Windows, and has some great improvements. We should add this to the PG Dev App.

**Follow**
- Nothing to follow yet

[2016-05-12 21:35] timkim commented on #97
Here's the current iteration of the wikitude demo for phonegap day:
https://www.dropbox.com/s/uww2blsauhyfeic/wikitude-2.mov?dl=0

[2016-05-12 23:47] purplecabbage commented on #9
https://github.com/phonegap/phonegap-cli/pull/599
Now we just need to decide what we want to track, how we want to format the events, and what data to include.
Current implementation tracks optIn/optOut + the command issued

[2016-05-12 23:54] hermwong commented on #12
Browser platform has shipped with PhoneGap Desktop.

All changes from PG Desktop 0.3.1 and 0.3.2 have been merged into Template branch.

[2016-05-13 17:37] mwbrooks commented on #110
Shipped!

[2016-05-13 17:37] #110 closed, assigned to hermwong

[2016-05-13 17:41] mwbrooks commented on #106
All of the menus have been reimplemented to be dynamic. Next, the styling of the menu needs to be updated to match the latest mockups. @GarthDB passing this over to you, if you're cool with that!

[2016-05-13 17:42] mwbrooks commented on #9
Thanks Jesse!

[2016-05-13 17:53] davejohnson commented on #101
@imhotep where's this stuff at?

[2016-05-13 21:17] imhotep commented on #101
At a point where it can merged in. Ideally someone else should to review and test it. I know @surajpindoria wanted to demo it at the next phonegap meetup in a few weeks.

[2016-05-14 11:27] GarthDB commented on #106
Sure. I'll work on it next week.

[2016-05-16 18:22] mwbrooks commented on #101
As a reminder, this is a prototype and not suppose to be merged into master. It's meant to discover any technical risks.

[2016-05-16 20:05] mwbrooks commented on #92
PG Day EU is this week!

[2016-05-16 20:05] #92 closed, assigned to macdonst

[2016-05-16 20:09] mwbrooks commented on #78
Next step: @devgeeks is to create a list of connectivity options for the dev app to help move the design forward.

[2016-05-16 20:12] mwbrooks commented on #24
Switching over to @mwbrooks to get @hermwong a proper fix at the CLI level.

[2016-05-16 20:15] mwbrooks commented on #31
@devgeeks can this be closed now that the latest dev app is out?

[2016-05-16 20:21] mwbrooks commented on #97
This has been shipped live without the _trial_ watermark. It's available in app stores today!

[2016-05-16 20:21] #97 closed, assigned to timkim

[2016-05-16 20:25] mwbrooks commented on #31
@devgeeks says yes

[2016-05-16 20:25] #31 closed, assigned to devgeeks

[2016-05-16 23:26] mwbrooks opened #115 "Add Version to PhoneGap Developer App"
**Description**

Let's get the version added to the developer app, so that everyone can easily track whether they are using the latest.

**Follow**
- [Issue](https://github.com/phonegap/phonegap-app-developer/issues/403)

[2016-05-16 23:28] purplecabbage commented on #115
It would be nice if it came from the repo itself and was automated, so if I build and run from source I can immediately tell I am using the dev branch and not the app store published version.

[2016-05-18 00:13] devgeeks commented on #33
Next step here is to make branches/tags that break the app up into stages of development

[2016-05-20 17:57] mwbrooks commented on #78
This is turning into quite a large task. Perhaps we should break it into a vertical with sub-tasks or use a milestone.

[2016-05-20 18:00] jahoni commented on #78
Yeah - that makes sense....

[2016-05-20 18:13] davejohnson commented on #82
@wildabeast @goya @alharding what's up with this?

[2016-05-20 18:15] #102 closed, assigned to macdonst

[2016-05-20 21:18] devgeeks commented on #78
👍

[2016-05-27 17:43] mwbrooks commented on #106
@GarthDB I think a saw some activity on this. If you have an image, can you post it?

[2016-05-27 17:51] mwbrooks commented on #9
Looks like we now need to review the latest work on the PR.
https://github.com/phonegap/phonegap-cli/pull/599

[2016-05-27 17:52] mwbrooks opened #116 "Create ESLint / EditorConfig References"
**Description**

We have a lot of repositories. It's completely fine for each project to have it's own coding style and syntax rules. However, I'd like to see these rules documented and automatically enforced with the help of linters.

I'd like to setup a repository that has reference ESLint and EditorConfig files. ESLint checks the JavaScript syntax while EditorConfig will automatically setup you

[2016-05-27 22:24] mwbrooks opened #117 "phonegap-app-developer"
**Description**

This tracks the owner(s) of the PhoneGap Developer App.

**References**
- [Repository](github.com/phonegap/phonegap-app-developer)

[2016-05-27 22:25] mwbrooks opened #118 "phonegap-app-desktop"
**Description**

This tracks the owner(s) of the PhoneGap Desktop App.

**References**
- [Repository](github.com/phonegap/phonegap-app-desktop)

[2016-05-27 22:25] mwbrooks opened #119 "phonegap-cli"
**Description**

This tracks the owner(s) of the PhoneGap CLI.

**References**
- [Repository](github.com/phonegap/phonegap-cli)

[2016-05-27 22:26] mwbrooks opened #120 "connect-phonegap"
**Description**

This tracks the owner(s) of the Connect PhoneGap middleware.

**References**
- [Repository](github.com/phonegap/connect-phonegap)

[2016-05-27 22:27] mwbrooks opened #121 "phonegap-plugin-push"
**Description**

This tracks the owner(s) of the PhoneGap Push plugin.

**References**
- [Repository](github.com/phonegap/phonegap-plugin-push)

[2016-05-27 22:29] mwbrooks opened #122 "phonegap-docs"
**Description**

This tracks the owner(s) of the PhoneGap Docs.

**References**
- [Repository](github.com/phonegap/phonegap-docs)

[2016-05-27 22:29] mwbrooks opened #123 "ios-deploy"
**Description**

This tracks the owner(s) of the ios-deploy module.

**References**
- [Repository](http://github.com/phonegap/ios-deploy)

[2016-05-27 22:31] mwbrooks opened #124 "phonegap.com"
**Description**

This tracks the owner(s) of the phonegap.com web property.

**References**
- [Repository for phonegap.com](github.com/phonegap/phonegap.github.io)
- [Repository for phonegap.com/blog](github.com/phonegap/blog)
- [Repository for phoengap.com/tool](github.com/phonegap/tool)
- [Repository for phonegap.com/book](github.com/phonegap/book)
- [Repository for phonegap.com/app](github.com/

[2016-05-27 22:32] mwbrooks opened #125 "phonegap-plugin-contentsync"
**Description**

This tracks the owner(s) of the PhoneGap Content Sync plugin.

**References**
- [Repository](github.com/phonegap/phonegap-plugin-contentsync)

[2016-05-27 22:33] mwbrooks opened #126 "phonegap-app-star-track"
**Description**

This tracks the owner(s) of the PhoneGap Star Track app.

**References**
- [Repository](github.com/phonegap/phonegap-app-star-track)

[2016-05-27 22:34] mwbrooks opened #127 "phonegap-plugin-barcodescanner"
**Description**

This tracks the owner(s) of the PhoneGap Barcode Scanner plugin.

**References**
- [Repository](github.com/phonegap/phonegap-plugin-barcodescanner)

[2016-05-27 22:36] mwbrooks opened #128 "phonegap-template-hello-world"
**Description**

This tracks the owner(s) of the PhoneGap Hello World template.

**References**
- [Repository](github.com/phonegap/phonegap-template-hello-world)

[2016-05-27 22:38] mwbrooks opened #129 "phonegap-template-react-hot-loader"
**Description**

This tracks the owner(s) of the PhoneGap React template.

**References**
- [Repository](github.com/phonegap/phonegap-templat-react-hot-loader)

[2016-05-30 22:06] mwbrooks commented on #12
Work to add PhoneGap CLI shell support to the Desktop App:
- [PhoneGap CLI Issue](https://github.com/phonegap/phonegap-cli/issues/595)
- [PhoneGap CLI Branch](https://github.com/phonegap/phonegap-cli/tree/595-desktop-support)

[2016-05-30 22:14] mwbrooks commented on #105
@infil00p is making good progress on this front. A new project structure and plugin structure are under proposal. The new plugin format will need to see updates to plugman and potentially break backwards compatibility.

[2016-05-30 22:15] mwbrooks commented on #33
@devgeeks how's this going? Should be throw it on hold?

[2016-05-30 22:22] devgeeks commented on #33
It's going slowly due to sickness and other priorities, but don't put it on hold. I'll make it happen.

[2016-06-02 19:29] mwbrooks opened #130 "phonegap-template-blank"
**Description**

This tracks the owner(s) of the PhoneGap Blank template.

**References**
- [Repository](github.com/phonegap/phonegap-template-blank)

[2016-06-06 20:02] macdonst commented on #48
Need to review this PR from @ktop https://github.com/apache/cordova-lib/pull/449

This will get rid of the hooks I have in a few of the CSDK plugins.

[2016-06-06 20:12] mwbrooks commented on #106
In production!

[2016-06-06 20:12] #106 closed, assigned to GarthDB

[2016-06-06 20:17] mwbrooks commented on #101
@imhotep - gave an update that running mobile spec in the browser has additional failures on top of the basic browser. So the proxy is introducing some errors.

[2016-06-06 20:18] mwbrooks commented on #33
The docs are basically done. @devgeeks would like @hollyschinsky (or someone else) to run through it and give some feedback.

[2016-06-06 20:24] mwbrooks commented on #105
@infil00p update: Cordova is putting the restructure on hold and focusing on updating plugin structure. This is working through on the Cordova ML. Currently, Joe is working on a PoC on the plugin structure. This may require bumping Android to 5.3, but not a major. After the plugins are working with the old project structure, then an Android 6 (or even 7) release can use the future project structur

[2016-06-06 20:28] mwbrooks opened #131 "iOS Plugin Support for Cocoapod Dependencies"
**Description**

Adding Cordova iOS support for Cordova iOS plugins to dependent on Cocoapods.

**Follow**
- https://issues.apache.org/jira/browse/CB-9825
- (related) https://issues.apache.org/jira/browse/CB-5921

[2016-06-07 01:09] devgeeks commented on #33
Clarification: "docs" are not basically done, what is done is breaking the app up into stages of development to aid in creating said docs :)

[2016-06-07 03:49] devgeeks commented on #116
Added example using pure "[semistandard](https://github.com/Flet/semistandard)" to the hello world template.
1. https://github.com/phonegap/phonegap-template-hello-world/commit/61bd6f23e817775ebb6f219542680b41833fe27b

[2016-06-07 16:24] mwbrooks opened #132 "README"
**Description**

We'd like to get to know our users. This milestone will track small steps that we can take towards connecting with our users, through our tools, in a honest and open approach that doesn't introduce additional friction.

[2016-06-07 16:29] mwbrooks opened #133 "Identify Developers"
**Description**

_(From @jenlgray)_

Developers are PhoneGap's users. They are the people who download our tools and use them on a daily basis. @jenlgray wants to properly identify developers, so that we can help them during their develop of an app from concept to app store.

**Follow**
- [ ] https://github.com/phonegap/phonegap.github.io/issues/159

[2016-06-07 18:15] mwbrooks opened #134 "phonegap-start"
**Description**

This tracks the owner(s) of the PhoneGap Start template.

**References**
- [Repository](https://github.com/phonegap/phonegap-start)

[2016-06-07 21:43] shazron opened #135 "ios-sim"
**Description**

This tracks the owner(s) of the ios-sim module.

**References**
- [Repository](http://github.com/phonegap/ios-sim)

[2016-06-07 21:44] shazron opened #136 "simctl"
**Description**

This tracks the owner(s) of the simctl module.

**References**
- [Repository](http://github.com/phonegap/simctl)

[2016-06-07 21:46] hermwong opened #137 "Desktop Auto-update Improvement"
https://github.com/phonegap/phonegap-app-desktop/issues/605

[2016-06-07 22:46] mwbrooks opened #138 "README"
**Description**

We've recently started to integrate with Wikitude to showcase AR possibilities on hybrid mobile. We built the Wikitude plugin into the PhoneGap Developer App, created a template demo, and hosted the demo to make it easy to try out. Now we need to document how play around with Wikitude and where to go from there.

We'd love to showcase other AR vendors as well, if possible.

[2016-06-07 22:47] mwbrooks opened #139 "Wikitude Docs"
**Description**

Add documentation on how to view the demo, consume other demos, and write your own.

**Follow**
- Branch: https://github.com/phonegap/phonegap-docs/tree/wikitude
- Issue: https://github.com/phonegap/phonegap-docs/issues/199

[2016-06-08 04:59] devgeeks commented on #116
Added example using an eslint config (airbnb) as a base
1. https://github.com/phonegap/phonegap-template-react-hot-loader/commit/82a4330a2fa43e7e05231cc91ab7f273affde3ff

[2016-06-09 16:56] macdonst commented on #44
Created a browser branch on the phonegap-plugin-push repo.

[2016-06-09 23:10] mwbrooks opened #140 "phonegap-app-augmented-reality"
**Description**

This tracks the owner(s) of the Augmented Reality demo app.

**References**
- [Repository](https://github.com/phonegap/phonegap-app-augmented-reality)

[2016-06-10 14:11] macdonst opened #141 "Firebase Cloud Messaging Support"
Google is getting rid of Google Cloud Messaging and replacing it with Firebase Cloud Messaging. This means we'll need to update the push plugin to be able to receive messages from FCM, (started on this with Julio Ceasar "RedHat") and we'll need to be able to send messages from the push.api.phonegap.com server.

[2016-06-10 17:42] mwbrooks opened #142 "phonegap-webview-ios"
**Description**

This tracks the owner(s) of the PhoneGap iOS Webview.

**References**
- [Repository](https://github.com/phonegap/phonegap-webview-ios)

[2016-06-10 17:52] mwbrooks opened #143 "phonegap-template-push"
**Description**

This tracks the owner(s) of the PhoneGap Push template.

**References**
- [Repository](https://github.com/phonegap/phonegap-template-push)

[2016-06-10 17:55] mwbrooks opened #144 "Promote Templates"

[2016-06-10 18:03] mwbrooks commented on #9
@surajpindoria, just curious, were you planning to review this work?

[2016-06-10 18:04] mwbrooks opened #145 "Promote Analytics"

[2016-06-10 18:05] mwbrooks commented on #139
These are a good spot with the initial work on staging. We could use some content review from @mwbrooks and @hollyschinsky.

[2016-06-10 18:07] mwbrooks commented on #34
@stevengill can you update these with the next steps or we can create a new task to track it.

[2016-06-10 18:08] surajpindoria commented on #9
I already did. Spoke with @purplecabbage about trying to get the OS / node version tracked as well. From the insight docs it seems like it is getting done, we just can't find it in GA. Still need to investigate a bit more

[2016-06-10 18:53] stevengill commented on #34
Definitely!
- cordova-fetch has been completed for now. cordova/cordova-discuss#33
- enhancing template work to better support package.json https://github.com/cordova/cordova-discuss/pull/49 (Caryn)
- ripping out cordova-create. No issue for this, i'm doing it on a branch of cordova-lib, going to publish it solo for now so we can move forward with decouple effort. Will bring a proposal to apache c

[2016-06-13 16:37] imhotep commented on #101
https://github.com/imhotep/bdsync-sample

This sample demos what currently works:
- cordova-plugin-device
- cordova-plugin-file
- cordova-plugin-network-information
- cordova-plugin-camera
- cordova-plugin-device-orientation
- cordova-plugin-device-motion

I can attach a screencast if people think it's useful.

[2016-06-13 18:16] mwbrooks commented on #101
@imhotep screencasts are always useful!

[2016-06-13 18:33] mwbrooks opened #146 "README"
**Description**

We're going to start experimenting with an Adobe Mobile CSS framework that can be used with modern mobile frameworks.

**Follow**
- Nothing yet

[2016-06-13 18:35] mwbrooks opened #147 "Spectrum theme for Topcoat"
**Description**

This is a proof-of-concept using the Topcoat framework to add a lightweight CSS implementation that is functional framework agnostic.

**Follow**
- Nothing yet

[2016-06-13 20:05] GarthDB commented on #124
👍

[2016-06-13 20:06] GarthDB commented on #122
There is cross over with the css on PhoneGap.com. I'm happy to keep helping with that if @hollyschinsky wants me to.

[2016-06-13 20:25] mwbrooks commented on #105
@infil00p has a PoC put together now. At this point, he'll be testing to ensure that plugins continue to work along with plugins that have conflicting dependencies.

[2016-06-13 20:26] mwbrooks commented on #131
@juliascript has an install PoC ready and is now working on uninstall.

[2016-06-13 20:32] mwbrooks opened #148 "Promote Wikitude"
**Description**

Now that we have the Developer app bundling the Wikitude plugin, a template demo, and documentation, it's time to promote it out!

[2016-06-13 21:19] mwbrooks opened #149 "R&D Xcode App Extensions"
**Description**

Xcode 8 is introducing app extensions to enable plugins for third-party products. It's worth investigating this to see if it makes sense for PhoneGap to make Embedded Webview development better.

This task is to spend a little time getting an idea of what's possible and then bringing it back to the team to decide what's next.

Source: https://twitter.com/shazron/status/74246430155

[2016-06-13 23:43] davejohnson commented on #101
yes screencast that shit!

[2016-06-14 17:23] mwbrooks commented on #122
@GarthDB definitely! I think Holly can keep an eye on the content and while you do the same for the presentation.

[2016-06-15 18:40] hollyschinsky opened #150 "Code signing of Desktop App on Windows"
Figure out options for code signing the Desktop App on Windows to remove the **Unknown Publisher** warning that might prohibit some from installing it. See more details [here](https://github.com/phonegap/phonegap-app-desktop/issues/283).

[2016-06-15 20:26] jahoni commented on #78
Working on wireframe sketches. You can watch the file [here](https://www.dropbox.com/s/ct1zs912gtmgr3f/PhoneGap%20Developer.pdf?dl=0) if you want updates. I'll schedule some time to review with the team when they are nearing first draft completion.

[2016-06-16 17:08] imhotep commented on #101
Very well! Here is the [link](https://www.dropbox.com/s/kxw0p9i9vd46pgc/bdsync2.mp4?raw=1).

I am going to stop working on this and start focusing on something else. If we ever want to take this further than I can always get back to it. Feel free to close the issue.

[2016-06-16 18:06] carynbear commented on #10
I could help with this if this is speaking of the templates used for the `cordova create --template` command

[2016-06-17 17:39] mwbrooks commented on #111
http://ja.docs.phonegap.com/ is now online, but we need to update the language menu. This is just an experiment and may not stay around long-term - we're still deciding.

[2016-06-17 17:42] mwbrooks commented on #116
@devgeeks can we create a discuss issue to move this forward and get everyone's thoughts?

[2016-06-17 17:49] davejohnson commented on #78
@jahoni those wireframes are looking GREAT

[2016-06-17 17:54] mwbrooks commented on #12
We're slowing down on this task. We have a dirty solution today, so let's give ourselves until next Friday to find a better solution, otherwise use the intern-fix and send a PR Cordova-CLI.

[2016-06-17 17:56] mwbrooks commented on #101
Thanks @imhotep!

[2016-06-17 17:56] mwbrooks commented on #139
@timkim what's the status on this on going live? Anything left or blocking it?

[2016-06-17 17:57] davejohnson commented on #116
@devgeeks can you pls also create a github contribution document for our internal git collaboration workflow? maybe @stevengill has something to add here too based on getting interns setup etc. just want to try to standardize these various bits as markdown in the discuss repo.

[2016-06-17 17:58] mwbrooks commented on #105
Proposal has been sent to the Cordova ML. Waiting for feedback.

[2016-06-17 18:02] mwbrooks commented on #147
@GarthDB anything to link, show, report, etc?

[2016-06-17 18:03] mwbrooks commented on #147
@GarthDB perhaps we can create a private discuss topic if we're concerned about open discussion?

[2016-06-17 18:08] mwbrooks opened #151 "PhoneGap Build"
**Description**

This tracks the owner(s) of the PhoneGap Build.

**References**
- [PhoneGap Build Org](github.com/phonegap-build)
- [Build Bug Tracker Repository](github.com/phonegap/build)

[2016-06-17 18:09] GarthDB commented on #147
So my first thing I'm fixing is the telemetry tests. I currently have the loading test working again in a more stable way than before. I'm currently implementing the scrolling smoothness test then we can automate them.

[2016-06-17 18:47] timkim commented on #139
No blockers. I think we can just merge it in.

[2016-06-17 21:22] hollyschinsky commented on #150
I've created a new document to track notes/steps for Windows code signing/packaging [here](https://docs.google.com/document/d/1e5hbWLSDe71jfEtzUiVqKbv5LO8KUBlD37oitckn3z0/edit?usp=sharing).

[2016-06-18 10:00] shazron commented on #149
More info about Xcode extensions: http://www.russbishop.net/xcode-extensions

Unfortunately, current support is only for Source Editor Extensions. Also, with Xcode 8, we can't use Alcatraz (which offers the same unofficial functionality in previous Xcodes)

[2016-06-18 10:04] shazron commented on #149
Another article: http://cleanswifter.com/xcode-extensions/

WWDC 2016, Session 414 "Using and Extending the Xcode Source Editor": https://developer.apple.com/videos/play/wwdc2016/414/ (Safari only. Yay Open Web!!!)

[2016-06-20 03:40] devgeeks commented on #116
@davejohnson Something like this?

https://github.com/phonegap/phonegap-template-hello-world/blob/master/CONTRIBUTING.md

Or something more detailed like the Cordova workflow docs?

[2016-06-20 19:55] mwbrooks commented on #137
![](http://f.cl.ly/items/42282Q321m2n1p261z3F/Screen%20Recording%202016-06-20%20at%2011.35%20AM.gif)

[2016-06-20 20:03] GarthDB commented on #147
Here's a recording of the page loading speed benchmark tool - http://recordit.co/OX8sBXSnIm

[2016-06-20 20:23] mwbrooks commented on #77
It's live and in use, so we can close this off.

[2016-06-20 20:23] #77 closed, assigned to wildabeast

[2016-06-21 16:58] mwbrooks commented on #139
Merged: https://github.com/phonegap/phonegap-docs/pull/204
Online: http://docs.phonegap.com/tutorials/develop/wikitude/

[2016-06-21 16:58] #139 closed, assigned to timkim

[2016-06-21 16:59] mwbrooks commented on #148
@jenlgray the Mobile app has the Wikitude plugin, we have a template demo available, the demo is hosted online, and we have documentation. If you need anything else, let us know otherwise it's ready to be promoted.

[2016-06-21 17:01] macdonst commented on #44
https://github.com/phonegap/phonegap-plugin-push/tree/browser

[2016-06-21 17:43] surajpindoria commented on #113
Done, https://github.com/phonegap/phonegap-cli/commit/b8b936cfdf24bed2680764a1449b52d0a4595225

[2016-06-21 17:43] #113 closed, assigned to macdonst, surajpindoria

[2016-06-21 17:47] surajpindoria commented on #9
Merged and released this!

[2016-06-21 17:47] #9 closed, assigned to purplecabbage

[2016-06-21 21:22] davejohnson commented on #116
yah the hello world template is probably good enough to start with 👍

On Sun, Jun 19, 2016 at 8:40 PM, tommy-carlos williams <
notifications@github.com> wrote:

[2016-06-22 17:06] GarthDB commented on #63
Done.

[2016-06-22 17:06] #63 closed, assigned to GarthDB

[2016-06-24 17:43] mwbrooks opened #152 "Review Github Team Setup"
**Description**

Github recently changed their pricing and team setup. We should go through it during the summer and get it sorted out.

[2016-06-24 17:47] mwbrooks commented on #145
Analytics are implemented on Mobile, Desktop, and CLI. While this isn't a feature for the users, we should do a blog post to talk about it.

[2016-06-24 17:48] mwbrooks commented on #33
@hollyschinsky is this in progress or on hold right now? It seems to be on hold.

[2016-06-24 17:51] mwbrooks commented on #44
@surajpindoria can you give a brief update on where this is at. I see lots of activity!

[2016-06-24 17:56] mwbrooks opened #153 "Promote the PGB Docs"
**Description**

We have started to move the PGB Docs to docs.phonegap.com. When this is complete, we should promote it.

[2016-06-24 18:21] macdonst commented on #44
@mwbrooks I'm going to drop a link to a movie in here over the weekend to show where we are at while @surajpindoria works on the next part.

[2016-06-24 18:21] mwbrooks commented on #44
🙌

[2016-06-24 21:33] juliascript commented on #131
(After one week of PTO) Pods that plugins depend on are being installed in the xcode workspace. The uninstall works for one plugin (that can depend on more than one pod). Multiple plugin removal in progress.

[2016-06-25 22:20] shazron commented on #149
An example of an Xcode 8 Source Editor plugin:
https://github.com/cyanzhong/xTextHandler

Note that it can create a menu item on context click.

[2016-06-26 20:54] imhotep commented on #36
I added a new `phonegap share`
Code: https://github.com/phonegap/phonegap-cli/tree/share
Video: https://www.dropbox.com/s/tb62anlzrd4xl6o/dropbox.mp4?raw=0

From what I've seen this can't work with [OneDrive](https://dev.onedrive.com/) or [Google Drive](https://developers.google.com/drive/v2/reference/) unless we change the way the PhoneGap Developer App fetches archives (which I think we should).

[2016-06-27 14:54] macdonst commented on #44
https://dl.dropboxusercontent.com/u/887989/BrowserPush.mov

[2016-06-27 19:45] hollyschinsky commented on #33
@mwbrooks Since I've been out, nothing has changed so I will go ahead and place on hold until I start the first piece of actual documentation and move it to in progress then.

[2016-06-27 20:07] GarthDB commented on #147
Here's a new recording with a scroll speed performance analysis and benchmark added http://recordit.co/p2NsaXY7Eq

[2016-06-27 20:09] GarthDB commented on #147
Sample output
![image](https://cloud.githubusercontent.com/assets/125516/16394087/b7e48c56-3c70-11e6-9b34-65e88bd69ac5.png)

[2016-06-27 20:10] #88 closed, assigned to davejohnson

[2016-06-27 20:13] mwbrooks commented on #116
Open sourced as: https://github.com/phonegap/linting-and-editorconfig

[2016-06-27 20:18] mwbrooks commented on #12
Next steps are to clean up the template implementation and continue to use the browser workaround. We want to find a better solution for the browser, since it also affects shelling out to Cordova.

[2016-06-27 20:20] mwbrooks commented on #34
`cordova-create` has been extracted and will be published today. Next step is getting the CLI to use it.

[2016-06-27 20:26] mwbrooks commented on #104
All PGB doc references now point to docs.phonegap.com

[2016-06-27 20:26] #104 closed, assigned to wildabeast

[2016-06-28 05:45] purplecabbage opened #154 "Expose build windows platform via phonegap-cli remote"
This is the last step of #77 to allow cli clients to build windows 10 (uwp)  apps.

[2016-07-01 19:38] hollyschinsky commented on #150
The [instructions for self-signing](https://docs.google.com/document/d/1e5hbWLSDe71jfEtzUiVqKbv5LO8KUBlD37oitckn3z0/edit?usp=sharing) on Windows are now complete and the Unknown Publisher warning is removed by following them:
<img width="1198" alt="verified" src="https://cloud.githubusercontent.com/assets/359935/16532711/cbf72864-3fa1-11e6-8761-6d1acd86c7ca.png">

[2016-07-01 20:03] purplecabbage commented on #150
Is there a task for purchasing from a cert authority?

[2016-07-02 00:17] timkim commented on #115
Ongoing work here: https://github.com/phonegap/phonegap-app-developer/tree/version

[2016-07-11 17:06] hollyschinsky opened #155 "Purchase Code Signing Certificate for Desktop App"
Determine best option for purchasing an official code signing certificate for the PhoneGap Desktop App.

[2016-07-11 17:08] hollyschinsky commented on #150
Created roadmap task #155 to track purchasing an official code signing cert. Closing.

[2016-07-11 17:08] #150 closed, assigned to hollyschinsky

[2016-07-11 19:16] purplecabbage commented on #150
![parallels picture 2](https://cloud.githubusercontent.com/assets/46134/16743419/2ea4f8da-4761-11e6-841f-c7b6cec5beb8.png)

No change for me, I still see Unknown publisher. Is this just because it was self signed?

[2016-07-11 20:03] #116 closed, assigned to devgeeks

[2016-07-11 20:07] stevengill commented on #99
in XDs hands

[2016-07-11 20:07] stevengill commented on #98
in XDs hands

[2016-07-11 20:09] stevengill commented on #12
Waiting for review now. In branches

[2016-07-11 20:12] macdonst commented on #48
PR from @ktop apache/cordova-lib#449 has been merged into cordova-lib but we need to get it into a release.

[2016-07-12 19:10] mwbrooks commented on #155
I'll assign this to myself to see whether there is an existing Adobe certificate that we can/should use.

[2016-07-14 23:02] timkim commented on #115
Done and done.

[2016-07-14 23:02] #115 closed, assigned to timkim

[2016-07-15 15:38] mwbrooks commented on #115
Nice Tim!

[2016-07-15 21:32] surajpindoria commented on #44
https://drive.google.com/file/d/0BzHMzAgNJl-TRkxiVk5DUVhUdlU/view?usp=sharing

[2016-07-18 20:02] GarthDB commented on #147
To fix some conflicting issues between tests, I rearchitected the tool to use plugins.
- [scrollspeed plugin](https://github.com/Topmarks/topmark-scrollspeed) [![Build Status](https://travis-ci.org/Topmarks/topmark-scrollspeed.svg?branch=master)](https://travis-ci.org/Topmarks/topmark-scrollspeed) [![Coverage Status](https://coveralls.io/repos/github/Topmarks/topmark-scrollspeed/badge.svg?branch=m

[2016-07-18 20:05] GarthDB commented on #147
And published them to npm.
- [![npm version](https://badge.fury.io/js/topmarks.svg)](https://badge.fury.io/js/topmarks)
- [![npm version](https://badge.fury.io/js/topmark-loadspeed.svg)](https://badge.fury.io/js/topmark-loadspeed)
- [![npm version](https://badge.fury.io/js/topmark-scrollspeed.svg)](https://badge.fury.io/js/topmark-scrollspeed)

[2016-07-18 20:06] mwbrooks commented on #137
Will ship in 0.3.4 and it's planned to be released this week. Currently blocked by a config.xml issue that we are fixing.

[2016-07-18 20:06] GarthDB commented on #147
Going to publish a blog post describing the project and how to use it.

[2016-07-18 20:11] mwbrooks commented on #12
@surajpindoria and @hollyschinsky are testing this now. Release will be coming after 0.3.4 release.

[2016-07-18 20:16] mwbrooks commented on #34
Publishing `cordova-create` is held up by a failing test.

We have a branch on PhoneGap that uses the `cordova-create` module. This is just waiting on the official release.

[2016-07-18 20:19] mwbrooks commented on #105
Currently working on making the plugins more modular without breaking API changes.

[2016-07-18 20:23] mwbrooks commented on #131
Currently implementing tests for the pending pull request.

[2016-07-18 20:25] mwbrooks commented on #48
@macdonst is working with the CSDK and helping them create their own plugins and working on supporting another Adobe library.

[2016-07-18 20:29] mwbrooks commented on #36
@imhotep is still actively working on this and may have a demo to show next week.

[2016-07-18 20:46] purplecabbage commented on #154
This is fully merged, and will be available in the next release.

[2016-07-18 20:46] #154 closed, assigned to nobody

[2016-07-18 23:24] stevengill commented on #105
Added an update for android at https://github.com/phonegap/discuss/issues/1#issuecomment-233488543

[2016-07-22 17:44] mwbrooks commented on #78
@devgeeks would it be okay to toss a [React Storybook](https://github.com/devgeeks/phonegap-topcoat-react) image here just to see where we are at?

[2016-07-22 17:54] mwbrooks commented on #48
@macdonst how did the CSDK hack meeting go? We can do a #discuss if you'd rather chat there.

[2016-07-22 18:10] mwbrooks commented on #36
@imhotep On Monday, you mentioned the possibility of having a demo for the following Monday.

[2016-07-22 19:12] mwbrooks commented on #155
We've now found the right team that's able to assist us in signing a standard Windows app. During the process, we've verified that we cannot submit the PhoneGap Desktop app to the Windows Store - the while the Windows Store accepts Electron-based apps, the functionality is limited and unacceptable for our needs.

[2016-07-23 20:36] imhotep commented on #36
@mwbrooks that is still a valid statement!

[2016-07-23 23:25] devgeeks commented on #78
![phonegap-topcoat-react-storybook-2](https://cloud.githubusercontent.com/assets/554999/17087888/6aea5bbe-5256-11e6-8846-715ed840925a.gif)

[2016-07-25 01:22] imhotep commented on #36
Video: https://www.dropbox.com/s/4issa45fxc046ye/connect.mp4?raw=1

Code: [Here](https://github.com/imhotep/connect-phonegap-wingu) and [here](https://github.com/phonegap/connect-phonegap/tree/share)

[2016-07-25 14:21] macdonst commented on #48
The CSDK trip went pretty well. On Day 1 we went over the existing plugins, brought Ash back up to speed and fixed a few bugs. On Day 2 we worked on the new plugin [phonegap-plugin-csdk-send-to-desktop](https://github.com/CreativeSDK/phonegap-plugin-csdk-send-to-desktop) getting the JS side done and starting on the Android code before Ash realized that a new CSDK release this week would change the

[2016-07-25 19:46] GarthDB commented on #111
Closing once Travis finishes running tests. https://travis-ci.org/phonegap/phonegap-docs/builds/147276928

[2016-07-25 19:51] timkim commented on #114
I installed this plugin and I ran into some compilation error (adding some duplicate permissions to the android manifest). Thankfully @macdonst made a patch and it's working now. Still have to fully test the plugin further to make sure it works ok.

See this commit for @macdonst fix: https://github.com/phonegap/phonegap-app-developer/commit/3f8621faa3fbb06b20a3b551f4b21e3ace37833d

[2016-07-25 19:51] timkim commented on #94
I've added this plugin but I can't seem to get it do any of the function calls. I'm not _quite_ sure what the deal is right now so some debugging is required.

[2016-07-25 19:53] timkim commented on #72
I've added this one as well, but I haven't gotten around to testing the js calls.

[2016-07-25 20:07] mwbrooks commented on #137
Final testing, packaging, and releasing for 0.3.4.

[2016-07-25 20:16] mwbrooks commented on #34
Team meeting tomorrow to discuss the entire process of packing (bundling) cordova with PhoneGap.

[2016-07-25 20:17] mwbrooks commented on #44
All done and final testing is happening today. Server is online and only the plugin needs to be published.

[2016-07-25 20:22] mwbrooks commented on #105
Next step is getting the framework fixes branch into Cordova Android. After this, the MVP of Android Embedded webviews and gradle publishing will start.

[2016-07-25 20:22] mwbrooks commented on #131
Tests have been written but need to refactored into the proper location.

[2016-07-25 20:52] surajpindoria opened #156 "Update push docs to include browser platform"

[2016-07-25 21:32] surajpindoria commented on #156
http://docs.phonegap.com/tutorials/develop/push-notifications/

[2016-07-26 00:36] GarthDB commented on #111
closed with https://github.com/phonegap/phonegap-docs/pull/218

[2016-07-26 15:14] mwbrooks commented on #111
Nice @GarthDB!

Passing this over to @alharding to work with the machine translation team now.

[2016-07-26 15:14] GarthDB commented on #111
👍

[2016-07-26 18:33] surajpindoria commented on #44
phonegap-plugin-push@1.8.0 has been released!

[2016-07-26 18:33] #44 closed, assigned to macdonst, surajpindoria

[2016-07-26 18:34] surajpindoria commented on #156
Updated docs are now live

[2016-07-26 18:34] #156 closed, assigned to surajpindoria

[2016-07-26 23:23] hermwong commented on #137
PG Desktop 0.3.4 released on July 26th.

[2016-07-26 23:24] #137 closed, assigned to hermwong

[2016-07-26 23:25] hermwong commented on #12
0.3.4 code has been merged into the template branch. We need to spend some time performing regression testing.

[2016-07-29 17:43] mwbrooks opened #157 "PGB on Adobe.io"
**Description**

Integrate PGB tighter into Adobe's upcoming developer services offering - adobe.io.

You can learn more about Adobe.io here:
https://www.youtube.com/embed/DDxxJiSW9VY

[2016-07-29 17:44] mwbrooks commented on #111
This is now live on http://docs.phonegap.com/

[2016-07-29 17:46] #111 closed, assigned to alharding

[2016-07-29 17:48] mwbrooks opened #158 "Evaluate Adobe Machine Translation and Google Translate"
**Description**

We added Japanese language support to the PhoneGap Docs using Adobe's Machine Translation. At the moment, we're not committed to using this approach for all language. Instead, we now want to compare Google Translate and Adobe's MT results and maintenance to decide which one we want to use.

[2016-07-29 20:54] imhotep commented on #36
Since all we need now is to test and publish this, I am going to put this one on hold.

[2016-08-01 20:10] mwbrooks commented on #137
Also did a 0.3.5 hotfix to patch a `connect-phonegap`.

[2016-08-01 20:18] mwbrooks commented on #12
Currently looking into a slow performance issue when shelling out to the PG CLI from Electron.

[2016-08-01 20:22] mwbrooks commented on #147
@jahoni would like to do an inventory of Spectrum and how many will translate over to mobile (at a first look).

@GarthDB and @jahoni are going to meet up this week around it.

[2016-08-01 21:19] carynbear commented on #34
https://docs.google.com/document/d/1C_gHnJfc4oqkYqUVA1omrwCHkoxCgi7TEa71-hgNSmI/edit?usp=sharing

[2016-08-02 18:49] macdonst commented on #48
CSDK has released version 0.9.1062 which will require changes to the way the current plugin fetches the SDK from maven and it now will allow us to do SendToDesktop for Android.

[2016-08-04 16:40] #148 closed, assigned to jenlgray

[2016-08-05 17:52] mwbrooks commented on #48
@macdonst awesome. Gradually, we should work with Ash to have his team maintain these plugins, so that the releases happen at the same time.

[2016-08-05 20:29] carynbear commented on #34
@mwbrooks: I added in symlinking and had Suraj review the changes I made to connect this week. The packagejson dependencies require the next minor Common update. But it's ready for testing slash review

https://docs.google.com/document/d/1C_gHnJfc4oqkYqUVA1omrwCHkoxCgi7TEa71-hgNSmI/edit?usp=sharing

[2016-08-05 20:37] juliascript commented on #131
e2e tests are finished, unit tests are written but have a couple of bugs. Tracking those down currently. A rebase from master is needed for the PR

[2016-08-06 02:38] macdonst commented on #48
I talked to Ash and we've put the following steaks in the ground with regards to release dates:
1. Client Auth
2. Image Editor MVP
   on 8/17
3. User Auth
4. Send To Desktop
   on 8/31

[2016-08-08 20:02] hollyschinsky commented on #12
- [This PR](https://github.com/phonegap/phonegap-app-desktop/pull/672) will be tracking the latest updates and discussion for reference.
- Live reload dev't workflow added - see [this video](http://recordit.co/aGfoTWRTtA)
- See [this video](http://recordit.co/NYDKnCyNYL) showing some of the latest updates. When you create a project based on a template it will visually indicate it with the spinner

[2016-08-08 20:23] mwbrooks commented on #105
From @infil00p:
- AAR prototype is ready
- One question is how to copy the cordova directory / js out of the AAR
- There may also be a way to reference the directory instead of pulling it out of the AAR bundle

[2016-08-08 22:26] carynbear commented on #34
@stevengill
Next Steps:
1. Release Cordova Common minor bump
2. Review [Cordova Create](https://github.com/apache/cordova-create) (still one failing test on AppVeyor; added back symlinking)
2.1 Review [Cordova Lib](https://github.com/carynbear/cordova-lib/tree/decouple)
2.2 Review [Cordova Cli](https://github.com/carynbear/cordova-cli/tree/decouple) (added back symlinking)
3. Review [Phonegap Cord

[2016-08-09 22:51] timkim commented on #114
Used this code for testing:

[code]

Scanning qr codes work on all platforms but on iOS, I'm getting a crash when I hit the flip camera button.

[2016-08-09 23:06] timkim commented on #114
Here's the error being thrown in the console:

[code]

[2016-08-09 23:47] timkim commented on #94
Ok, it turns out I put in the github name (phonegap-mobile-accessibility) of the project but it's technically listed under a different name in npm (phonegap-plugin-mobile-accessibility).

JS plugin calls are working as expected however there are a lot of platform specific calls. If you try to call a function which isn't supported on a particular platform you are calling from, no error is raised si

[2016-08-11 00:07] timkim commented on #72
Ok, had to add it via the github link. It appears the npm version is quite out of date compared to the github one. Is Eddie just not publishing and updating it?

Anywho, tested on iOS and Android and those seem to work ok. Windows test to follow shortly.

[2016-08-11 21:56] timkim commented on #72
Just tested on wp8 and seems ok.

[2016-08-11 21:57] timkim commented on #114
Looks like I'm not the only one with the crash on iOS:
https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/277

[2016-08-11 23:04] carynbear commented on #34
(1) Waiting on Cordova-Common 1.4.1 release!
(2) [cordova-create PR to fix appveyor test](https://github.com/apache/cordova-create/pull/1)
(2.1) need to publish [Cordova-Create](https://github.com/apache/cordova-create) on npm
(2.2) [cordova-lib PR failing tests](https://github.com/apache/cordova-lib/pull/478)
(2.3) [cordova-cli PR](https://github.com/apache/cordova-cli/pull/259)
(3) Give [Phonega

[2016-08-12 17:43] mwbrooks opened #159 "PhoneGap Desktop Continuous Builds"
**Description**

Setting up and building the PhoneGap Desktop app can be a long and slow process. We have a number of people on the team who would benefit from a "nightly" release. So we should setup a build on each commit to each branch.

[2016-08-12 18:11] mwbrooks commented on #114
@timkim any chance that we could use the previous release? Is it compatible and stable?

[2016-08-12 18:28] davejohnson opened #160 "Mobile App Redesign"

[2016-08-12 18:30] #160 closed, assigned to nobody

[2016-08-15 20:11] mwbrooks commented on #12
Currently working through performance using the CLI integration. You can follow the details on the PhoneGap Desktop Template Pull Request.

[2016-08-15 20:20] mwbrooks commented on #105
From @infil00p:

Working on getting a release out that fixes loading plugins using Android modules instead of the Cordova plugin format. This allows Android developers to use plugins without the Cordova tooling.

Joe also emailed the only plugin owner that may have an issue (APK Extension plugin). We will wait to hear back from the owner.

The intention is to avoid breaking anything before we move

[2016-08-15 20:22] mwbrooks commented on #131
From @shazron:
- working well
- only some failures on Windows
- @stevengill needs to retest `cordova-lib`
- @macdonst is interested in testing it against the Push plugin

[2016-08-15 20:23] mwbrooks commented on #48
@macdonst is continuing to work with Ash on the Client Auth and Image Editor to release 1.0 on or around Wednesday. When `cordova-commons` is updated the edit/config functionality and the Cocoapod work will improve it.

[2016-08-15 20:24] infil00p commented on #105
Clarification: Android Modules opens the possibility of allowing dynamic loading of JS to load plugins.  It doesn't just do it on it's own.  This is a Proof-Of-Concept idea that I'm pursuing next, which may not even be a good idea (perhaps for security reasons).  I do want to try and feel it out and see if we can add an API to check which plugins are loaded.

Otherwise, we're stuck having to rely

[2016-08-15 20:28] mwbrooks commented on #147
We are working openly with other Adobe teams around this UI work. Tommy and Garth are making good progress on it.

[2016-08-17 18:59] macdonst commented on #48
Published two plugins to NPM today:
- https://www.npmjs.com/package/phonegap-plugin-csdk-client-auth
- https://www.npmjs.com/package/phonegap-plugin-csdk-image-editor

[2016-08-19 17:37] mwbrooks commented on #78
@timkim @surajpindoria can you run through [Tommy's guide](https://github.com/devgeeks/phonegap-topcoat-react-getting-started) on getting your hands dirty with PhoneGap, Topcoat, React, and of course ES6. We're nearing the point where the redesign work can start.

[2016-08-19 17:39] mwbrooks commented on #72
@timkim looks like this shipped on iOS yesterday!

[2016-08-19 17:59] mwbrooks opened #161 "Adobe Tech Summit / Open Source Summit Submissions"
**Description**

@jenlgray will post a discussion around this with deadlines, submission URLs, and content suggestions. We can close this off when the deadline passes.

[2016-08-19 20:54] jenlgray commented on #161
All the deets https://github.com/phonegap/discuss/issues/15

[2016-08-19 22:48] timkim commented on #72
Ya. Closing now.

[2016-08-19 22:48] #72 closed, assigned to timkim

[2016-08-19 22:48] #94 closed, assigned to timkim

[2016-08-19 22:49] timkim commented on #114
Fixed the issue using an already existing but not merged yet PR.

[2016-08-19 22:49] #114 closed, assigned to timkim

[2016-08-22 20:02] shazron commented on #131
PRs in cordova-lib and cordova-ios have been pulled in. Tests pass. Need to do more testing in the wild.

[2016-08-22 20:15] mwbrooks commented on #12
We had a great tip from the Electron team on bundling the node binary within the app. So far some quick testing has improved performance but more testing is going to need to happen.

[2016-08-22 20:17] mwbrooks commented on #34
Common was released last week. Android, iOS, and create are going out today. See the above list for the next steps.

[2016-08-22 20:19] mwbrooks commented on #105
Anis is working on providing the ability to install plugins for Android Studio projects. There is still unknowns around AAR working in an existing project.

[2016-08-25 00:42] macdonst commented on #48
The client auth and image editor were written up at:
- http://phonegap.com/blog/2016/08/19/phonegap-csdk-plugins/
- https://blog.creativesdk.com/2016/08/phonegap-plugins-for-the-creative-sdk/

Then we got a template published to NPM to make it easier for users to try the image editor and written up on the CreativeSDK blog.
- https://www.npmjs.com/package/phonegap-template-csdk-image-editor
- https

[2016-08-26 17:50] mwbrooks commented on #155
@purplecabbage anything blocking on this? I can push the thread forward if you have any requests. It would be nice to use the new signing cert for the upcoming template release.

[2016-08-26 17:52] mwbrooks commented on #131
@shazron have you had a chance to work with @macdonst on testing the push plugin?

[2016-08-26 17:53] shazron commented on #131
@mwbrooks not yet

[2016-08-26 17:55] mwbrooks commented on #48
@macdonst I've opened an issue in the PG CLI to add the template to it's list. Afterwards, do you think it's a good opportunity to write a PG blog post about using the template?

[2016-08-26 17:58] purplecabbage commented on #155
Its just a huge hassle. All of the research and documentation done to date was wasted time.
I wish we could just buy a cert...
As it is, the CI needs to be set up because the signing machine needs a static ip and has to be reachable by host name.
Most of the details are not discussable in public on github.

[2016-08-26 19:49] macdonst commented on #131
@shazron If you look at the [Push Plugin](https://github.com/phonegap/phonegap-plugin-push) you'll see we include the [GoogleCloudMessaging CocoaPod](https://cocoapods.org/pods/GoogleCloudMessaging) in the `src/ios` directory. Ideally, we'd love to get that out of the plugin without any reduction in functionality.

[2016-08-26 23:43] shazron commented on #131
I'll send a PR to the Push Plugin, and test that patch with the CLI nightly: https://libraries.io/npm/cordova/

i.e.
`npm install -g cordova@nightly`

then:
`cordova platform add ios@nightly`

[2016-08-26 23:56] stevengill commented on #131
@shazron I recommend adding cordova dependency to the package.json for push plugin that specifies a future version of cordova-ios. http://cordova.apache.org/docs/en/latest/guide/hybrid/plugins/index.html#specifying-cordova-dependencies.

That way people who use the push plugin with older versions of cordova-ios will auto fetch a compatible version of the plugin. cordova-dependency fetching got int

[2016-08-29 05:48] shazron commented on #131
Still testing this, and wondering why it hangs. Get this -- the first time you set up "pod install" it clones the Cocoapods repo. It's 475 MB.  Our devs won't be happy with this as a first time experience...
http://stackoverflow.com/questions/21022638/pod-install-is-staying-on-setting-up-cocoapods-master-repo

They are running off Github infrastructure, so they are limited technically (similar to

[2016-08-29 05:50] shazron commented on #131
Ok, after the massive repo clone, it all installs the Pods correctly. Now I have some Cocoapods errors to resolve, not sure what's going on:
![screen shot 2016-08-28 at 10 49 32 pm](https://cloud.githubusercontent.com/assets/36107/18041903/d8c00f68-6d71-11e6-96bc-dea601388890.png)

[2016-08-29 06:04] shazron commented on #131
Sent a work-in-progress PR https://github.com/phonegap/phonegap-plugin-push/pull/1183
@stevengill I haven't added your recommended changes yet to the PR.

[2016-08-29 06:27] shazron commented on #131
Found the culprit, PODS_ROOT is not set in Build Settings. Found it by running `pod install` in `platforms/ios`:

[code]

So yet another thing to add to the implementation.

[2016-08-29 06:31] shazron commented on #131
@macdonst I used GCM 1.1.0 as the spec, what should it really be?

[2016-08-29 13:10] macdonst commented on #131
@shazron I'm not 100% sure as I did not implement that feature but it should be 1.1.0 or 1.1.1. However, I'd be happy to see it updated to 1.2.0 so I won't have to disable Bitcode anymore when the plugin is installed.

[2016-08-29 15:00] imhotep commented on #105
Plugin installation in Android Studio video [here](https://www.dropbox.com/s/xc7wvdr8ut0p3k0/androidstudio.mp4?raw=1)

Code is here:
[cordova-android](https://github.com/imhotep/cordova-android/tree/android_studio)
[cordova-lib](https://github.com/imhotep/cordova-lib/tree/android_studio)

These changes should be backward compatible.

Next Steps:
- Figure out how to write tests for all this 💩
- Han

[2016-08-29 15:02] macdonst commented on #48
Here is a video of SendToDesktop working: https://dl.dropboxusercontent.com/u/887989/SendToDesktop.mov

@mwbrooks yes, there will be more blog posts written for the image editor and send to desktop templates.

[2016-08-29 20:03] macdonst commented on #48
and we released the send to desktop template:
https://www.npmjs.com/package/phonegap-template-csdk-send-to-desktop

[2016-08-29 20:08] mwbrooks commented on #12
The weekly review went well. The team is looking for a mid-week release candidate.

[2016-08-29 20:09] mwbrooks commented on #155
@purplecabbage is kicking this over to the Desktop team. There is actually a lot of work that's required because our CI server must be integrated with the Adobe signing system. We'll cover this in a future desktop future.

[2016-08-29 20:12] mwbrooks commented on #34
`cordova-create` was released and published on Friday. Next up we can review and merge it into the PhoneGap CLI / Desktop.

[2016-08-29 20:25] mwbrooks commented on #147
Build process is updated and we're now looking into React (component) integration. This work will enable integration with any JS framework and using React as the use-case.

[2016-08-31 00:07] shazron commented on #131
**Good news**, according to my tests, everything should work now, with these fixes needed for the cordova-ios platform.

I struggled yesterday with experimenting with this, and had linker errors related to how I put in the Pod .xcconfig reference in our .xcconfig files.

The [phonegap-push-plugin PR](https://github.com/phonegap/phonegap-plugin-push/pull/1183) outlines pretty much what you need to

[2016-08-31 00:08] shazron commented on #131
@macdonst I updated it to 1.2.0, seems to compile fine. Added GoogleCloudMessaging (1.2.0) and GGLInstanceID (1.2.1) Cocoapods.

[2016-08-31 00:36] shazron commented on #131
Added issue to track all the sub-issues: https://issues.apache.org/jira/browse/CB-11787
- [x] [CB-11788 - Change create and build scripts to use .xcworkspace](https://issues.apache.org/jira/browse/CB-11788)
- [x] [CB-11792 - Add Cocoapods .xcconfig includes to build.xcconfig files in template, modify create script](https://issues.apache.org/jira/browse/CB-11792)
- [x] [CB-11789 - Generated Podfile

[2016-09-01 20:27] shazron commented on #131
Potential issues for our users:
- cocoapods 1.0.1 [requires ruby >= 2.0.0](https://rubygems.org/gems/cocoapods/versions/1.0.1)
- when you install `sudo gem install cocoapods` it actually says you need `>= ruby 2.2.2` because of `activesupport` (`Error installing cocoapods: activesupport requires Ruby version >= 2.2.2`)
- so we need to recommend that users upgrade to `ruby 2.3.0` (using [rvm](https

[2016-09-02 17:00] shazron commented on #131
Update:
Almost completed https://issues.apache.org/jira/browse/CB-11790, work in progress is here: https://github.com/shazron/cordova-ios/tree/CB-11790

Things that are on the plate:
1. Right now I can reject a plugin install if CocoaPods is not installed (or you didn't sync the CocoaPods repo), but it still shows up as an installed plugin in `cordova plugin ls`, thus to re-install you have to rem

[2016-09-02 17:41] mwbrooks commented on #161
**Open Source Summit**
- Steve and Simon are speaking at this event

**Tech Summit**
- Submissions due on Sept 7th
- Suraj, Jesse, Bruce, Steve, Anis, and Simon & Ash submitted

https://wiki.corp.adobe.com/pages/viewpage.action?spaceKey=~fbiederi&title=Adobe+Tech+Summit+2017+PDE+Contributions

[2016-09-02 19:13] stevengill commented on #34
(1) ~~Waiting on Cordova-Common 1.4.1 release!~~
(2) ~~[cordova-create PR to fix appveyor test](https://github.com/apache/cordova-create/pull/1)~~
(2.1) ~~need to publish [Cordova-Create](https://github.com/apache/cordova-create) on npm~~
(2.2) ~~[cordova-lib PR failing tests](https://github.com/apache/cordova-lib/pull/478)~~
(2.3) ~~[cordova-cli PR](https://github.com/apache/cordova-cli/pull/259)

[2016-09-02 23:21] shazron commented on #131
Unfortunately for 3., I tried to make it work, but I have to re-work/re-write `podMod.js` before this becomes more technical debt, the API needs to be re-designed further or else no one can properly maintain this.

reworking `podMod.js` to `Podfile.js`, instead of it being procedural, it is an abstraction for a `Podfile` itself (.addSpec, .removeSpec, .install). Similarly, creating a file to abstr

[2016-09-05 06:32] shazron commented on #131
All issues resolved for https://issues.apache.org/jira/browse/CB-11787

Outstanding issues:
1. Push Plugin updated, but has problem with backwards compatibility: https://github.com/phonegap/phonegap-plugin-push/pull/1183
2. cordova-lib e2e test failure: https://issues.apache.org/jira/browse/CB-11811

[2016-09-06 20:08] mwbrooks commented on #78
@devgeeks and @timkim have started development on the main screen. It's using the default Topcoat theme right now.

[2016-09-06 20:11] mwbrooks commented on #12
The team is on final testing. There is an issue with Windows using the bundled node to create the browser platform. At the moment, the plan is to continue to continue to use the `connect-phonegap` workaround on Windows (not iOS) and then fix it in the next release (`4.1.0`).

[2016-09-13 04:39] imhotep commented on #105
PhoneGap JetBrains plugin video [here](https://www.dropbox.com/s/w6e7lp4d1rn2s9z/jetbrains.mp4?raw=1)

Code [here](https://github.com/imhotep/phonegap-intellij-plugin/)

[2016-09-13 20:39] mwbrooks commented on #78
We may need to find an alternative to React due to licensing. @devgeeks is looking into the options. Deku and Choo are the two strong alternatives. Both are declarative and functional.

[2016-09-13 20:41] hollyschinsky commented on #12
[Quick video preview of latest...](http://recordit.co/kwYVBPmnK4)

[2016-09-13 20:42] mwbrooks commented on #12
Release is getting cut today and tomorrow. @hollyschinsky is also updating the documentation to reflect the latest template updates.

[2016-09-13 20:44] mwbrooks commented on #34
@stevengill is moving along on this. @purplecabbage is going to help look into the `connect-phonegap` dependence on Cordova.

[2016-09-13 20:50] mwbrooks commented on #131
CocoaPod is done and coming out in Cordova iOS 4.3.0 release. It'll require CLI 6.40 release. There is a PR for the Push plugin, everything compiles, but it needs more testing.

[2016-09-19 16:27] shazron commented on #131
Update for this week:
Minor re-fix https://issues.apache.org/jira/browse/CB-11792?focusedCommentId=15495043&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-15495043 should be done today.

[2016-09-19 20:32] purplecabbage commented on #105
Meeting notes here: https://github.com/phonegap/discuss/issues/18

Next steps:
- Clean up code, make sure it goes out as something Anis is proud of.
- finalize menu item text
- Create some examples and record them as videos that can be used to show it off. ( this will also likely harden the process and help serve as some testing of the workflow )
- copy platformAPI scripts (node_modules) into AS p

[2016-09-21 18:51] mwbrooks opened #162 "Shutdown wiki"
**Description**

wiki.phonegap.com has been unmaintained by the PhoneGap team and lightly maintained by the community. We'd like to move the important documentation to the PhoneGap or Cordova docs, then shutdown the wiki.

The most popular articles are:
- Splash screen sizes
  - [Wiki article](https://github.com/phonegap/phonegap/wiki/App-Splash-Screen-Sizes)
  - [Cordova doc](https://cordova.apac

[2016-09-23 18:06] #138 closed, assigned to nobody

[2016-09-23 18:08] mwbrooks commented on #48
Closing since we've shipped all of the above plugins (except Android for Asset Browser, which is waiting on a native implementation).

[2016-09-23 18:08] #48 closed, assigned to macdonst

[2016-09-23 18:23] mwbrooks opened #163 "PhoneGap Typekit Plugin"
**Description**

Part of the Creative SDK and Adobe Mobile SDK. This will attempt to add a PhoneGap plugin implementation.

* [phonegap-plugin-csdk-typekit](https://github.com/CreativeSDK/phonegap-plugin-csdk-typekit)

[2016-09-23 18:27] mwbrooks opened #164 "PhoneGap Build Mobile App Prototype"
**Description**

A prototype / proof-of-concept to list, preview (run), and install apps from PhoneGap Build to the local device. The prototype can prove that this is possible on Android, iOS, and Windows Phone.

**Follow**
- [Github repository](https://github.com/phonegap/phonegap-app-pgb)

[2016-09-23 18:32] mwbrooks commented on #164
[iOS video demo](https://cl.ly/0l2j0C0r103H)

[2016-09-23 18:36] mwbrooks opened #165 "Add PGB Integration to Mobile App Redesign"
**Description**

The [PGB Mobile App prototype](https://github.com/phonegap/phonegap-roadmap/issues/164) is moving along very well, so we now want to add the functionality directly into the PhoneGap mobile app. This will track the design that the implementation can use.

[2016-09-24 00:33] imhotep commented on #105
New [video](https://www.dropbox.com/s/xsdl9dpdyu64dt1/jetbrains2.mp4?raw=1)

ChangeLog:
- Everything runs in a background thread (previously UI was blocked) with nice progress indicators and notifications.
- Added plugin installation from npm and filesystem.

[2016-09-26 18:25] stevengill commented on #34
onboarding vishal on this work today. Need to figure out what to do with `phonegap-cordova-dependence` and then move forward

[2016-09-26 20:05] macdonst commented on #163
Started work with the CSDK team on the Typekit plugin only to discover quickly that it is not useful for a PhoneGap app. The Typekit plugin will sync fonts with your app to be used to style text views. The web view would need to load the actually font file for it to work. This should be accomplished via the Typekit JS interface instead. However, that is problematic due to the fact Typekit JS is va

[2016-09-26 20:07] mwbrooks commented on #78
We've settled on using Preact as a MIT alternative to React.

[2016-09-26 20:13] mwbrooks commented on #12
This release is blocked by a Windows installer issue. In order to bundle node.exe we need to disable Electron's packaging (asar), which causes long path name issues on Windows. Most of this has been solved, but the workarounds prevent the executed (child process) node processes from requiring locally packaged modules.

[2016-09-26 20:31] mwbrooks commented on #147
Workin towards consuming / using Spectrum CSS for the Topcoat theme.

[2016-09-26 20:35] mwbrooks opened #166 "Adobe Asset Browser Plugin"
**Description**

We currently support the Creative SDK Asset Browser library for Android and now we are looking into adding iOS support.

**Follow**
- [phonegap-plugin-csdk-asset-browser](https://github.com/CreativeSDK/phonegap-plugin-csdk-asset-browser)

[2016-09-26 20:36] mwbrooks commented on #163
Thanks @macdonst!

See https://github.com/phonegap/phonegap-roadmap/issues/166 to track the Asset Browser work.

[2016-09-27 23:10] hermwong opened #167 "Desktop 0.4.0 Retrospective"
**What went well & worked for the team:**

-biweekly sync -> team communication / transparency
-commits to issues -> easier to track changes
-division of tasks / code reviews / paired programming for bigger issues
-team focused -> working towards same goal
-good communication -> professional
-higher quality release, more testing
-GH collaboration (node.exe bundling)
-GH issue tracker organization

[2016-09-28 12:24] macdonst commented on #166
We've got a download working from the asset browser UI for both Android and iOS. Next step is looking at the headless upload.

[2016-09-28 21:56] macdonst commented on #166
Headless upload is working for the happy path on iOS. I need to do some additional work around specifying the uploaded file name and mime type but it looks good so far.

[2016-09-30 00:14] maverickmishra commented on #34
The phonegap - cordova decouple plan document .

https://docs.google.com/document/d/1eC3jV0P9eQybn2hQyByIyLXtA-haiSdnD-W3aXQ326o/edit

[2016-09-30 00:17] stevengill commented on #34
Vishal just shared a document outline changes we are going to make to connect-phonegap so we don't have to phonegap-cordova dependance as its own module anymore and instead have it live in pg-cli.

[2016-09-30 17:39] mwbrooks commented on #162
Currently collecting splash screen references from each platform's docs, then I'll make a PR to the splash screen plugin that references the docs in the same way that icons do.

[2016-09-30 17:48] mwbrooks commented on #12
Issue that is tracking the ASAR progress:
- https://github.com/phonegap/phonegap-app-desktop/issues/700

[2016-10-03 02:57] macdonst commented on #166
Cleaned up upload for iOS and implemented upload from Android. I will attempt to record a demo on Monday. Not 100% happy with the JS API so that may change a bit, as well, the whole thing needs to be documented.

[2016-10-03 20:11] mwbrooks commented on #78
@devgeeks is setting up Preact for the Dev App.

[2016-10-03 20:13] mwbrooks commented on #165
@jahoni will be pushing through the wireframes this week.

[2016-10-03 20:18] mwbrooks commented on #34
A lot of discussion happened last week. Looking to remove the dependence module and move the code into the PG CLI. Also moving the browser platform management from `connect-phonegap` to the `phonegap-cli`.

[2016-10-03 20:19] mwbrooks commented on #105
Testing on Windows this week!

[2016-10-03 20:20] mwbrooks commented on #131
Cocoapod support has been merged into `cordova-ios` and now adding it to the `cordova-cli`.

[2016-10-03 20:26] mwbrooks commented on #147
Spectrum CSS will be adopting Topdoc.

[2016-10-05 23:49] mwbrooks opened #168 "Share a PhoneGap app"
**Description**

Sharing a PhoneGap app is intended to make it easier to share a preview of PhoneGap / Cordova app without having the receiving person setup a developer environment.

**Sharing an app**

An app can be shared from the PhoneGap CLI using the command:

[code]

The share Id is stored in the local `.cordova/config.json` so that it can be reused.

**Preview on desktop browser**

Opening

[2016-10-10 17:51] shazron commented on #131
Update week of Oct 10, 2016:
1. Needs actual device testing with phonegap push plugin
2. Will be baked in for cordova-ios 4.3.0, I plan to put out a vote hopefully this week (waiting on cordova-common new release, and needs new cordova-cli before release)
3. Added a tweak: https://github.com/apache/cordova-ios/pull/267

[2016-10-10 20:15] stevengill commented on #78
@devgeeks working on basic components + combo box
@timkim working on devmode plugin with @wildabeast. It is working in dev app (old version). Few janky issues

[2016-10-10 20:16] stevengill commented on #165
@jahoni meeting this week with team

[2016-10-10 20:17] stevengill commented on #12
@surajpindoria working on solutions for this. Stop bundling cli with desktop app. Run `npm install phonegap` install after desktop app is installed on first install. Works around long path issue.

[2016-10-10 20:18] stevengill commented on #34
@maverickmishra, incorporated cordova-phonegap-depandance into pg cli. Adding browser functionality got moved into cli from connect-phonegap.

[2016-10-10 20:19] stevengill commented on #105
Waiting for cordova-common and cordova-android release. Plugin is working on windows & mac. Need to figure out name.

[2016-10-10 20:21] stevengill commented on #147
@GarthDB still meeting with spectrum folks regularly. They are implementing topdoc. They are thinking of switching over to topcoat.

[2016-10-10 20:23] stevengill commented on #168
@imhotep is excited

[2016-10-14 17:37] #165 closed, assigned to jahoni

[2016-10-14 17:40] mwbrooks commented on #164
Closing this task off, since a lot of this work is now being merged into the PG Developer App redesign.

[2016-10-14 17:40] #164 closed, assigned to wildabeast

[2016-10-14 23:07] shazron commented on #149
Good presentation on what's capable for Xcode 8 Extensions, and a quick how-to on how to create one:
https://realm.io/news/jalkut-extending-xcode-8/

[2016-10-17 14:45] macdonst commented on #166
Pushed latest code to `dev` branch and let Ash know it should be reviewed by him before pushing to `master` and releasing. Somewhat delayed as Ash is busy with the next CSDK release on 11/2.

[2016-10-17 19:59] mwbrooks commented on #131
Update from @shazron:
- Trying to wrap up iOS 4.3.0 with Cocoapods support
  - Had a `cordova-common` issue last week
- Still need to test push plugin during runtime

[2016-10-17 20:09] mwbrooks commented on #78
@timkim is working on the `phonegap-plugin-developer-mode`:
- Happy where it is at
- Needs to add tests
- All `connect-phonegap` injected scripts are now in it
- Handles the saving and loading the config and app cache

@devgeeks working through the app implementation:
- Home screen combo box is ready minus styling
- Updating home screen to match new wireframes

@jahoni is finishing up the latest w

[2016-10-17 20:11] mwbrooks commented on #12
@surajpindoria has everything working for Windows and Mac now thanks to an idea came about from @purplecabbage and @surajpindoria. Final task is cleaning up the `setup.exe` experience.

[2016-10-17 20:13] mwbrooks commented on #34
@maverickmishra moved the browser functionality into the PG CLI and added the test cases by @carynbear. Final tasks are adding browser tests (likely ported from `connect-phonegap`).

[2016-10-17 20:15] mwbrooks commented on #105
`cordova-common` was released last week. This will unblock the `cordova-android` release, but it will now wait for the `cordova-ios` release.

[2016-10-19 17:59] purplecabbage opened #169 "Add iOS support"

[2016-10-19 17:59] purplecabbage opened #170 "Add Android support"

[2016-10-19 18:12] purplecabbage opened #171 "Define and document API"
The current prototype API is simplistic, and only supports navigating to a new page, and closing a window.  The doc should define how we intend to pass+retrieve data, and all interactions supported by the host view, and the client view.

[2016-10-19 21:15] purplecabbage opened #172 "Improve demo"
Current demo is overly simplistic loading the same page over and over.
We need a demo that covers the full api and shows a realistic use case.

[2016-10-19 21:16] purplecabbage opened #173 "Add tests"
Add tests and CI to run the tests

[2016-10-19 21:17] purplecabbage opened #174 "Document use - readme"
Document the API that it is implemented.

[2016-10-19 21:20] purplecabbage commented on #171
This is specifically a definition of what the API 'should' be, or is expected to be.
Realistically this will change during implementation and this document (probably just the readme) should be updated when it changes.

[2016-10-19 21:21] purplecabbage commented on #174
This is a app-developer level document that outlines how to use the plugin, what features are available and what platforms are supported, as well as any quirks.

[2016-10-19 21:23] purplecabbage commented on #170
There is prior art in the way the inappbrowser interacts with activities that we should look to for examples of how to do some things.
This is probably a good starting point:
https://github.com/apache/cordova-plugin-inappbrowser/blob/master/src/android/InAppBrowser.java

[2016-10-19 21:24] purplecabbage commented on #169
Basic functionality is there, but we will need to update this as the API changes.
The iOS version is currently alpha level, and once we have tests we will definitely realize this.

[2016-10-20 00:34] purplecabbage commented on #172
# Version 1
- should present multiple pages inside one app
- index.html should contain a link to spawn the alternate view
- alternate.html should contain a link to dismiss the view and return

# Version 2
- index.html presents a text input for the user to input something
- spawning the alternate view passes input text
- alternate view displays the data passed in

[2016-10-21 06:46] #174 closed, assigned to nobody

[2016-10-21 06:46] #173 closed, assigned to nobody

[2016-10-21 06:47] #172 closed, assigned to purplecabbage

[2016-10-21 06:48] #170 closed, assigned to nobody

[2016-10-21 06:48] #169 closed, assigned to purplecabbage

[2016-10-21 06:49] #171 closed, assigned to purplecabbage

[2016-10-21 23:12] mwbrooks opened #175 "Multiview plugin"
**Description**

This plugin spawns multiple Cordova webviews within an app. We're interested in using this plugin for the PhoneGap Developer App and we have internal teams at Adobe who could also benefit from it.

**Follow**
- [phonegap-plugin-multiview](https://github.com/phonegap/phonegap-plugin-multiview)

[2016-10-24 16:17] macdonst commented on #166
So, something happened in the last week, possibly and upgrade to the CSDK which now causes the app to crash if you start the asset browser on Android. It's an odd Java IncompatibleClassChangeException. I've forwarded it on to Ash to see what's up.

[2016-10-24 20:06] mwbrooks commented on #78
@timkim is working on the `phonegap-plugin-developer-mode` plugin.
- Working on integrating it into the Dev App

@devgeeks is working on the Mobile app
- Working with @GarthDB on the Spectrum theme for the current component

[2016-10-24 20:49] infil00p commented on #105
Cordova-Android is in the process of being released today.

[2016-10-27 22:56] hermwong commented on #12
We launched!

[2016-10-27 22:56] #12 closed, assigned to hermwong, surajpindoria

[2016-10-27 22:58] hermwong opened #176 "PG Desktop 0.4.1 - PG CLI Hot Fix"
The PG Desktop app is pinned to use PhoneGap CLI 6.3.1 which in turned is pinned to use connect-phonegap 0.23.1 which is missing the gap: entry from the Content Security Policy. Without this entry the communication between the native and JS side is broken as iOS will not allow the connection.

This was fixed in connect-phonegap 0.23.2 and included in Phonegap 6.3.4.

See PG Desktop issue [#717](ht

[2016-10-28 17:56] #167 closed, assigned to hermwong

[2016-10-31 16:56] shazron commented on #131
Update:
- CocoaPods (static libs only) support shipped with Cordova-iOS 4.3.0 last week (see http://cordova.apache.org/announcements/2016/10/24/ios-release.html)
- Customer success story: https://twitter.com/r_desimone/status/791611007441444865
- Push plugin CocoaPods PR needs to be rebased and re-tested with Cordova-iOS 4.3.0
- CocoaPods dynamic lib support slated for Cordova-iOS 4.4.0, see: http

[2016-10-31 17:14] imhotep commented on #105
I will update JetBrains plugin with recently released cordova-android and publish this week. I will also record a screencast to show how to use extension in details.

[2016-10-31 17:19] imhotep commented on #168
Browser share [video](https://www.dropbox.com/s/dw63h9q80y0bv5d/browsershare.mp4?raw=1)
Dev App share [video](https://www.dropbox.com/s/pm84acmins3xx1d/sharedevapp.mov?raw=1)

phonegap-cli [code](https://github.com/phonegap/phonegap-cli/tree/share)
connect-phonegap [code](https://github.com/phonegap/connect-phonegap/tree/share)

[2016-10-31 18:44] hermwong opened #177 "PG Desktop 0.4.2 - Maintenance & Stability Release"

[2016-10-31 19:46] mwbrooks commented on #162
Finishing collecting references. This week I'll put together a PR for the splash screen plugin to use the referenced URLs.

[2016-10-31 19:49] GarthDB commented on #147
Implemented spectrum button into preact storybook - started on select and tab-bar.
![spectrum-button](https://cloud.githubusercontent.com/assets/125516/19869163/c5010280-9f70-11e6-94ff-72f29d70d31c.gif)

[2016-10-31 20:12] mwbrooks commented on #105
Now that Android has shipped, we can start to look into publishing the JetBrains plugin.

[2016-11-01 00:29] surajpindoria commented on #176
Released hot fix!

[2016-11-01 00:29] #176 closed, assigned to hermwong, surajpindoria

[2016-11-01 13:01] imhotep commented on #105
[Blocker](https://github.com/apache/cordova-android/commit/5db2de95f586eec1713656051e47c0d0bdc73a10#diff-b00ea6f89e0b6256edf17f92365939c0R222)

[2016-11-03 17:15] macdonst opened #178 "Research CSDK Web SDK"
The CSDK team has recently released a web sdk that can do client auth, user auth, image editor and asset browser. The question is can the web sdk replace the plugin work we've already done.

[2016-11-04 18:29] mwbrooks commented on #34
Setting this **On Hold** since @maverickmishra is away.

[2016-11-04 19:48] mwbrooks opened #179 "PhoneGap Desktop 0.4.2 Maintenance Release"
**Description**

Template bug fixes & minor enhancement.

**Follow**

- [Milestone](https://github.com/phonegap/phonegap-app-desktop/milestone/46)

[2016-11-04 19:51] mwbrooks opened #180 "Progressive Web App Support"
**Description**

Play around with Progressive Webs Apps (PWA) support in PhoneGap, understand what that might mean, and what we can leverage to improve the app development experience of PhoneGap.

**Follow**

- [phonegap-template-pwa](https://github.com/phonegap/phonegap-template-pwa)
- [phonegap-plugin-pwa](https://github.com/phonegap/phonegap-plugin-pwa)
- [phonegap-plugin-service-worker](https:

[2016-11-04 20:00] macdonst commented on #131
Released: https://github.com/phonegap/phonegap-plugin-push/releases/tag/v1.9.0
Blogged: http://phonegap.com/blog/2016/11/03/phonegap-plugin-push-1.9.0/

[2016-11-04 23:50] mwbrooks opened #181 "iOS Embedded CordovaView"
**Description**

Tracks any additional work that we want to see in the iOS Embedded Webview, such as updating the Cocoapod releases.

**Follow**

- [Github Repository](https://github.com/phonegap/phonegap-webview-ios)

[2016-11-04 23:59] purplecabbage commented on #178
I played with this, but I was not able to get it to work inside of a phonegap app.
The documentation claims that any site embedding their components needs to use ssl, which is not possible within phonegap, although I do not know for certain that this is what blocked me as all I saw was an error that stated 'Check you configuration'

[2016-11-05 00:10] purplecabbage commented on #161
Open Source Summit is done

**Tech Summit**

Accepted talks from Simon (w/ Ash), Steve, and a lab by Jesse and Holly

https://wiki.corp.adobe.com/pages/viewpage.action?spaceKey=~fbiederi&title=Adobe+Tech+Summit+2017+PDE+Contributions

[2016-11-05 00:12] purplecabbage commented on #181
I am unclear on what the actual difference is between this and #142

[2016-11-05 00:27] mwbrooks commented on #181
#142 simply tracks the owner of a particular project

[2016-11-07 16:56] macdonst commented on #178
I talked to Ari Fuchs the PM for the web portion of the CSDK and indeed as the docs say only https is supported at this time. I mentioned how important it is to be able to test locally and sited the ServiceWorkers API as having an exception where http will work on localhost. He added a task to their Trello board to discuss being able test locally for a future release (localhost and file://).

So b

[2016-11-07 21:07] mwbrooks commented on #179
Some big tasks are cleaning up technical debt, small bug fixes, and aiming for a 2 week release period.

[2016-11-07 21:10] mwbrooks commented on #78
@devgeeks
- Working on all the screens

@timkim
- Continuing on the WP release

@wildabeast
- Started on a PGB integration branch

[2016-11-07 21:12] mwbrooks commented on #105
Re: Blocker
- Android 6.1.0 has it's final vote and the release is in progress.

[2016-11-07 21:14] #131 closed, assigned to shazron, stevengill

[2016-11-07 21:17] mwbrooks commented on #181
@hollyschinsky
- Last week, Holly updated it to the last Cordova plugin and `cordova-ios@4.3.0` webview.

[2016-11-07 21:18] #178 closed, assigned to macdonst

[2016-11-07 21:22] mwbrooks commented on #147
@GarthDB
- Updated the publishing process of Topcoat Preact
- Went through Spectrum CSS team use-cases

[2016-11-07 21:45] infil00p commented on #105
Re: Blocker
- Android 6.1.0 has been released.

[2016-11-11 19:25] purplecabbage commented on #181
deeper discussion of this here:
https://github.com/phonegap/discuss/issues/26

[2016-11-14 16:45] hollyschinsky commented on #180
[PWA+Cordova Template repo](https://github.com/phonegap/phonegap-template-pwa) (work in progress)

[2016-11-14 16:47] macdonst commented on #166
Back to working on this today and determined that it was the CSDK upgrade. One of the dependent plugins was using an older version of the CSDK which caused the IncompatibleClassChangeException. Updated phonegap-plugin-csdk-client-auth and phonegap-plugin-csdk-send-to-desktop to latest CSDK so all plugins match.

[2016-11-14 16:49] macdonst commented on #180
Researched [Issue #1](https://github.com/phonegap/phonegap-template-pwa/issues/1) and determined that service workers will not function correctly on cordova-android unless we write a plugin or make big changes to cordova-android itself.

[2016-11-14 19:37] mwbrooks commented on #179
On track to be released next week. Right before the US Thanksgiving Holiday 🦃

[2016-11-14 19:40] GarthDB commented on #147
Tab Bar:
![image](https://cloud.githubusercontent.com/assets/125516/20279859/74ed8f3c-aa67-11e6-8aa4-6fcd4912a023.png)

[2016-11-14 19:42] mwbrooks commented on #78
@devgeeks
- Screens are coming along well
- Still themed using Topcoat Default
- Still need to add the PGB screens
- Then starting to knock out the functionality (content sync, PGB, etc)

@timkim
- WP release it out
- Working on the dev-mode plugin
  - Integrating it into the mobile app branch

@wildabeast
- Added PGB Auth on the `pgb-integration` branch
  - The branch will be pushed up for review

[2016-11-14 19:44] mwbrooks commented on #34
@maverickmishra if you have an update can you drop it here. Thanks!

[2016-11-14 19:45] mwbrooks commented on #105
@purplecabbage @imhotep

The Jetbrains plugin has been submitted. Waiting for the approval of it. We don't know how long it'll take (no experience submitting those plugins)

[2016-11-14 19:47] mwbrooks commented on #181
We need to review and update the documentation. Particularly, how do we add the webview to the existing Xcode project.

[2016-11-14 19:49] GarthDB commented on #147
![kmjpz8deru](https://cloud.githubusercontent.com/assets/125516/20280206/b8c81ece-aa68-11e6-92b1-f3ba0aad81c3.gif)

[2016-11-17 18:10] purplecabbage commented on #175
Android support is now on-par with ios, almost time for the dev app to start kicking the tires.

Details here:
https://github.com/phonegap/phonegap-plugin-multiview/projects/1

[2016-11-18 18:43] mwbrooks commented on #177
Duplicate.

[2016-11-18 18:43] #177 closed, assigned to hermwong

[2016-11-18 18:49] mwbrooks commented on #105
Published: https://plugins.jetbrains.com/plugin/9246?pr=androidstudio

[2016-11-19 00:34] mwbrooks opened #182 "PhoneGap Day 2017"
## Description

Yay! PhoneGap Day EU and US 2017 planning is now underway. 🎉 Follow this task to stay up-to-date on how things are going.

## Follow

- [PGD Website](http://pgday.phonegap.com/)

[2016-11-19 00:40] macdonst commented on #166
AssetBrowser is in good shape for both Android and iOS. Ash was reviewing to make sure everything was working correctly. Then we determined the CSDK had changed it's authentication scheme. Client Auth, User Auth and Image Editor needed to be updated.

Planning a release of the plugins again next week, including Asset Browser.

[2016-11-19 00:43] imhotep commented on #168
@hollyschinsky and @devgeeks had some issues around `deviceready` not firing in the dev app. It turns on that it seems to be caused by Content Security Policy. I know nothing about it but this CSP seems to work:

[code]

The CLI would also display the wrong URL that is now fixed by this [commit](https://github.com/phonegap/phonegap-cli/commit/c84acdeef787d72f75685894fc8d42808bce8297)

Next step is

[2016-11-19 06:40] purplecabbage commented on #105
Repo is here: https://github.com/imhotep/phonegap-intellij-plugin

[2016-11-21 15:16] hollyschinsky commented on #180
Short video demonstrating Progressive Web App - __Add to Homescreen__ feature.

https://www.youtube.com/watch?v=EhVvbwtzVV4

[2016-11-21 19:37] mwbrooks commented on #182
@jenlgray:
- PGD EU will be May 19-20
- Now deciding on the format.
- Anyone in the community have feedback? Drop it here!

[2016-11-21 19:40] mwbrooks commented on #181
Final task will be documentation and then we can plan for the future work.

[2016-11-21 19:46] devgeeks commented on #78
![phonegap-app-developer--all-1](https://cloud.githubusercontent.com/assets/554999/20497950/4b5465c4-b07f-11e6-93e3-1a8f5fe412da.gif)

[2016-11-21 19:49] mwbrooks commented on #147
Officially we're going to publish this as `topcoat-adobe-ui-theme` (Github and npm) based on a discussion with the Spectrum team.

[2016-11-22 08:19] purplecabbage commented on #105
~Docs here: https://github.com/imhotep/PGDayEUWs2016/blob/jetbrains/android/README.md~
Docs are now at https://github.com/phonegap/phonegap-intellij-plugin

[2016-11-28 19:36] devgeeks commented on #78
![phonegap-app-developer--login-apps-flow-2](https://cloud.githubusercontent.com/assets/554999/20682889/fa154cee-b5fd-11e6-8849-aa5b6fc5dd46.gif)

[2016-11-28 19:37] mwbrooks commented on #181
Closing this task since the documentation is up-to-date.

[2016-11-28 19:37] #181 closed, assigned to purplecabbage, hollyschinsky

[2016-11-28 19:38] macdonst commented on #166
Waiting for feedback from CSDK team.

[2016-11-28 19:39] mwbrooks commented on #105
This week @mwbrooks will help port the documentation from the PGDayEUWs2016 repo to docs.phonegap.com.

[2016-11-28 19:45] mwbrooks commented on #147
@GarthDB
- Helping Spectrum CSS team with new additions to Topdoc
- Finishing up the combo box style and font decisions
- Register http://topdoc.style but haven't started work on it

[2016-11-28 19:50] mwbrooks commented on #179
This week:
- Finished up the final issues
- Code freeze by end of week
- Test and release early next week

[2016-11-28 19:51] mwbrooks commented on #175
This week:
- @sterlingann is adding back button support for Android
- Exposing a few use-cases around Android activity

[2016-11-28 21:35] purplecabbage commented on #105
Docs are now at https://github.com/phonegap/phonegap-intellij-plugin
They still exist in the other place, but the docs in the plugin repo should now be considered the tip of the spear as there are already updates to them.

[2016-12-05 18:31] hollyschinsky commented on #180
Short video demonstrating Progressive Web App - **Service Worker Caching** feature. https://www.youtube.com/watch?v=23Sno5DnkQU

**Description:** Demonstrates how you can cache the app shell assets using a service worker to enhance performance and provide a better offline experience.

![image](https://cloud.githubusercontent.com/assets/359935/20897143/dedcdf32-baee-11e6-9b1a-79e0e724f290.png)

The

[2016-12-05 18:45] purplecabbage opened #183 "multiview plugin demo video"
Produce a short screen capture of the demo app passing data from js->native->newView->js and back

[2016-12-05 18:59] purplecabbage commented on #183
Moving this to the multiview repo ... sorry for the confusion 😺

[2016-12-05 18:59] #183 closed, assigned to sterlingann

[2016-12-05 19:37] mwbrooks commented on #34
@maverickmishra
- Starting back into this work
- Updating since the PG Dev App and latest CLI releases

[2016-12-05 19:39] mwbrooks commented on #105
@mwbrooks is finishing up the documentation on docs.phonegap.com

[2016-12-05 19:40] GarthDB commented on #147
published https://www.npmjs.com/package/adobe-mobile-ui
added combobox

![image](https://cloud.githubusercontent.com/assets/125516/20899518/fded6560-bae7-11e6-9cf4-3af00dc463a1.png)

[2016-12-05 19:46] mwbrooks commented on #179
Releasing Wednesday or Thursday.
- Testing was done last week, most was patched, but the other issue was pushed to 0.4.3

[2016-12-05 19:47] purplecabbage commented on #180
I am working on a pwa myself if anyone wants to look at it.
https://purplecabbage.github.io/frets-app/app/www/index.html

[2016-12-05 19:48] mwbrooks commented on #175
This week:
- Back button is now working
- Based on user feedback, people are expecting continuous communication between multiple webviews
  - This will be changing some of the implementation

[2016-12-07 00:47] timkim commented on #78
Well here's my screen recording: https://cl.ly/3P1v3H0y0i40

You can see a little jank - the interactions of when the suggestions should pop up is a little iffy. Sometimes the address input box gets double loaded - like the default text will be there then the suggested text gets rendered on top.

More things to iron out but happy with the functionality of the devmode plugin so far.

[2016-12-07 18:40] mwbrooks opened #184 "Fix SSL on phonegap.com"
**Follow**

- [Issue](https://github.com/phonegap/phonegap.github.io/issues/176)

[2016-12-11 15:30] GarthDB commented on #147
Updated Navigation Bar
![image](https://cloud.githubusercontent.com/assets/125516/21081051/7b7f91f0-bf7b-11e6-9a0a-13ac3e554637.png)

Updated Combobox
![image](https://cloud.githubusercontent.com/assets/125516/21081054/9c4e1992-bf7b-11e6-847c-3f0846111531.png)

Updated Tab Bar
![image](http://g.recordit.co/xTJVkX1hF9.gif)

[2016-12-12 18:09] GarthDB commented on #147
Updated Combobox with some recommendations from @jahoni
![image](https://cloud.githubusercontent.com/assets/125516/21110696/75c0541c-c05b-11e6-9f4b-e281b4d0c98e.png)

[2016-12-12 18:17] GarthDB commented on #147
If you want to preview the html components, take a look here -

http://phonegap.com/adobe-mobile-ui/

[2016-12-12 19:26] macdonst commented on #141
* Ready to release a 2.0.0 RC1 this week.
* Need to push FCM changes to push.api.phonegap.com server.
* @surajpindoria is looking at payload issue on desktop

[2016-12-12 19:27] macdonst commented on #166
I'm trying to get ahold of Ash (in Japan) to get this plugin released this week.

[2016-12-12 19:35] mwbrooks commented on #182
@jenlgray when are the PGD submissions due?

[2016-12-12 19:37] mwbrooks commented on #34
@maverickmishra

- Held up on the on the PG Dev App integration with the latest branch
  - @stevengill, @timkim, and @surajpindoria can help out

[2016-12-12 19:41] mwbrooks commented on #78
@devgeeks

- Pushing the UI forward
- Functionality of the screens needs to be wired up
- Final integration with the dev mode plugin

[2016-12-12 19:49] mwbrooks commented on #179
0.4.2 Released on Thursday

- @hermwong can you give the team an idea of how many have already upgraded

[2016-12-12 20:08] hermwong commented on #179
Numbers of AppOpened since 0.4.2 launched on Dec. 8, 2016.

<img width="1202" alt="screen shot 2016-12-12 at 12 07 01 pm" src="https://cloud.githubusercontent.com/assets/107754/21114905/a96db9dc-c063-11e6-9344-808bc3c809af.png">

[2016-12-12 20:27] davejohnson commented on #179
@hermwong can you link to that report in analytics?

[2016-12-12 20:27] davejohnson commented on #179
looks like pretty quick upgrade. would like to figure out new vs old users as well

[2016-12-12 20:28] hermwong commented on #179
Only people with login credentials to our Keen.io account can get to the PG-Desktop analytics.

[2016-12-12 20:28] davejohnson commented on #179
oh right it's in keen. not GA

[2016-12-12 20:29] davejohnson commented on #179
can we get a weekly report emailed out or posted to github to keep this stuff top of mind?

[2016-12-12 20:30] hermwong commented on #179
@mwbrooks set up a dashboard for it. https://phonegap.geckoboard.com/dashboards/959ADA1C572C7000

[2016-12-14 22:46] macdonst commented on #166
Was working with Ash and things look great on Android but on iOS I'm getting an error.

https://www.dropbox.com/s/ka8cqaxr0pgf0lm/Screenshot%202016-12-14%2017.41.26.png?dl=0

I've talked to the CSDK team and the response is:

[code]

So it is not our code but once again, I'm stuck waiting.

[2016-12-16 18:59] #179 closed, assigned to hermwong

[2016-12-16 19:04] mwbrooks commented on #166
Thanks for the update @macdonst

[2017-01-09 18:42] GarthDB opened #185 "Topcoat.io"
@sterlingann is working on implementing the design @yoheishimomae made for Topcoat.io.

Progress is tracked at https://github.com/topcoat/topcoat.github.com/projects/1

[2017-01-09 19:18] mwbrooks opened #186 "PhoneGap Desktop 0.4.3"
**Follow:**

- [Github Issue](https://github.com/phonegap/phonegap-app-desktop/compare/0.4.3)

[2017-01-09 19:36] mwbrooks commented on #182
Sounds like the submission deadline is this week. Anyone on our team or community should get their proposals in ASAP.

[2017-01-09 19:37] mwbrooks commented on #34
- Minor progress since the break
- @maverickmishra will begin work this week

[2017-01-09 19:37] mwbrooks commented on #105
- Will pick this up this week

[2017-01-09 19:42] mwbrooks commented on #78
@devgeeks

- Updated the CI to get nightlies (iOS) to the team
  - Android nightly build is in-progress
- Attempting to get the PGB functionality in before end-of-week

[2017-01-09 19:44] mwbrooks commented on #147
There is one component remaining to be implemented (indeterminate progress bar).

[2017-01-09 19:49] mwbrooks commented on #175
- 1.0.0 is out and published on npm
- Now we need to gather feedback around the usage to determine next steps

[2017-01-09 19:52] mwbrooks commented on #141
- Released 2.0.0 RC1 last week
- Discussing with Cordova team to determine what platform versions to support

[2017-01-09 19:53] mwbrooks commented on #186
- Latest CLI caused issues on the Desktop app
- 0.4.3 rolled back the update checker and rolled back the CLI
- Doing final testing before pushing back out

[2017-01-09 21:40] purplecabbage commented on #175
Plugin is ready for integration in the dev app.

[2017-01-09 21:40] #175 closed, assigned to nobody

[2017-01-09 21:42] #161 closed, assigned to mwbrooks

[2017-01-09 21:45] purplecabbage opened #187 "Plugins :: Prepare and present lab at Tech Summit"
Holly and I will do a 1 hour lab on PhoneGap plugins.

https://spark.adobe.com/video/NXhVfosasSOdy

Progress is tracked here: https://github.com/phonegap/workshop-plugins

[2017-01-09 21:47] purplecabbage opened #188 "Open Source Talk :: Prepare and present at Tech Summit"
Winning summary:
Hear how the PhoneGap team contributes to open source and how you can too! This talk will cover best practices for contributing and creating open source projects at Adobe.

[2017-01-09 21:49] purplecabbage opened #189 "Creative SDK + PhoneGap :: Prepare and present at Tech Summit"
Build Native and Hybrid CC Integrations for Mobile
Winning Summary:
Learn how you can use the Adobe Creative SDK to enhance your mobile applications, whether you are building a native Android or iOS app, or a hybrid app using Adobe PhoneGap. Enable your users to access their CC assets, use powerful creative tools, or send new assets to CC, right from within your app.

[2017-01-09 23:24] GarthDB commented on #185
We moved work to a new repo so we can publish progress. It can be previewed at http://topcoat.io/beta/

[2017-01-09 23:41] hermwong commented on #186
Released!

[2017-01-09 23:41] #186 closed, assigned to hermwong

[2017-01-09 23:42] hermwong opened #190 "PhoneGap Desktop 0.4.4 Maintenance"

[2017-01-09 23:43] hermwong opened #191 "PhoneGap Desktop App 1.0"
**Description**

As a PhoneGap Team, we want to visually redesign the PhoneGap Desktop App and refactor the codebase, so that the brand is aligned with Adobe I/O, the UI is flexible to additional functionality, and the codebase is more testable.

**Conditions**

- Must support Windows and macOS
- Must look and feel like Spectrum

**Tasks**

- _No task to track_

[2017-02-02 21:15] macdonst commented on #180
Notes from today's call:

Consensus has been reached on the following approach.

1. Create PWA template
2. Template includes `phonegap-plugin-pwa`
3. PWA plugin includes only dependencies on new plugins to implement PWA API's, wrapper plugins of Cordova plugins or just a Cordova plugin.

Initially we'll start with a single PWA template but we'll eventually support multiple templates.

For now we w

[2017-02-14 01:37] macdonst commented on #163
Something good came out of Tech Summit. By being able to sit with the Typekit team they were able to correct my mistaken conclusion that only native views could use the sync'd fonts. I've successfully been able to download and use a font on Android. iOS work has not started yet.

![screenshot 2017-02-13 20 19 09](https://cloud.githubusercontent.com/assets/353180/22911131/2a8d4484-f22c-11e6-952e-bc

[2017-02-20 22:51] mwbrooks opened #192 "App Stack"
**The objective is to help developers create beautiful and performant mobile web apps by recommending effective app stacks for building mobile web apps.**
- [ ] 3 sample apps are using the app stack
  - [ ] [Star Track](https://github.com/phonegap/phonegap-app-star-track/tree/vue-f7) _in progress_
  - [x] [Conference Memories](https://github.com/phonegap/phonegap-app-conference-memories)
  - [ ] [

[2017-02-20 23:06] mwbrooks opened #193 "Apache Cordova"
**The objective is to allow web apps to be compiled with full native functionality and published to the Android and iOS App Stores.**
- [ ] Security issues are fixed and under vote within 60 days
- [ ] Release platform updates for Android, iOS, and Windows within 1 month of the OS release
  - Android Studio bricked the Android Cordova tools
  - Xcode 8.3.2 caused a break of the tooling
- [ ] Signe

[2017-02-20 23:15] mwbrooks opened #194 "Progressive Web Apps"
**Create a path between publishing to an App Store (Apache Cordova) and deploying to the web (PWA).**
- [ ] 3 sample apps support deploying as a PWA
- [ ] Basic PWA support in Apache Cordova iOS
- [ ] 1 community app is published to an App Store and deployed as a PWA

[2017-02-20 23:25] mwbrooks opened #195 "Stability & Reliability"
**Ensure that our tooling is stable throughout development.**
- [x] Establish a baseline for error rate and crash rate for the PhoneGap CLI: 7.5% error rate
  - [ ] Improve PhoneGap-CLI baseline error rate (7.5%) by 10% for: 6.75% error rate
- [ ] For the Desktop App, come up with one or more success and failure metrics. Decide on one (or a couple) that would act as a good proxy measure for Stabil

[2017-02-20 23:30] mwbrooks opened #196 "Improved experience"
**Tight integration between the app being developed and PhoneGap Platform.**
- [ ] 100% complete the story for **creating an app** tracked from production metrics
- [ ] 100% complete the story for **building an app** tracked from production metrics
- [ ] 100% complete the story for **adding a plugin** tracked from production metrics

**Stretch goals:**
- [ ] _100% complete the story for **sending

[2017-02-20 23:32] mwbrooks opened #197 "Help make better decisions"
**Help the developer make better decisions to build better apps.**

- TBD

[2017-02-20 23:40] mwbrooks opened #198 "Part of Adobe I/O"
**Showcase Adobe I/O as the power behind the PhoneGap cloud services.**

- [ ] PhoneGap is discoverable on Adobe I/O
  - Adobe I/O currently [references PhoneGap](https://www.adobe.io/apis/cloudplatform/phonegap.html)
- [ ] PhoneGap integrates with 1 other service on Adobe I/O
  - Creative SDK
- [ ] PhoneGap Build API end-point and documentation on Adobe I/O
- [ ] PhoneGap Push API end-point and d

[2017-02-20 23:47] mwbrooks opened #199 "Secure & Compliant"
**Cloud service APIs to remove common pain-points during development.**

- [ ] 99.99% uptime on PhoneGap Build
  - 99.99% Health Check since January 1, 2017
  - Down for 35s on March 19, 2017
- [ ] 99.99% uptime on PhoneGap Push
  - 99.99% Health Check since February 22, 2017
  - Down for 23min on April 4, 2017
  - Down for 10min on April 4, 2017
- [ ] 99.99% uptime on PhoneGap Desktop Updater
  -

[2017-02-20 23:49] mwbrooks opened #200 "Ecosystem Discovery"
**Discover an ecosystem of community services, frameworks, and templates.**

- TBD

[2017-02-21 00:05] mwbrooks opened #201 "Analytics in one place"
**Story**

As a PhoneGap team member, I want to log metrics in one place for the PhoneGap tools, so that we can track usage and errors.

**Conditions**

- ~Must support CLI on Windows and macOS~
- Must support Desktop app on Windows and macOS
- Must support Mobile app on Android and iOS
- Must support PhoneGap Push server in node.js
- Must support PhoneGap Desktop Update server in node.js

**Tasks

[2017-02-21 00:41] mwbrooks opened #202 "PhoneGap Blog on Medium"
**Story**

As a PhoneGap team member, I want to write a blog post on Medium, so that I can use my Medium account, have a modern authoring experience, collaborate with guest authors, and benefit from the Medium community.

**Conditions**

- PhoneGap be a Medium publication
- Publication must be branded similar to PhoneGap
- Publication must have a custom domain
- Contingency plan must exist in case

[2017-02-21 00:54] mwbrooks opened #203 "Sample apps uses our App Stack"
**Story**

As a developer, I want to see examples of interesting apps that use PhoneGap's recommended app stack, so that I can see what's possible and learn from the source code.

**Conditions**

- Must run on Android and iOS
- Must be available in the CLI and Desktop
- Must include the sample app Star Track
- Must include the sample app Conference Memories
- Must include the sample app ToDo

**Ta

[2017-02-21 00:59] mwbrooks opened #204 "Common app layouts"
**Story**

As a developer, I want to create a new app using a common layout, so that I can get started with everything required to begin development.

**Conditions**

- Must run on Android and iOS
- Must be available in the CLI and Desktop
- Should include a blank layout
- Should include a status bar layout (empty)
- Should include a side menu layout
- Should include a tab bar layout

**Tasks**

-

[2017-02-21 16:08] mwbrooks commented on #193
**Signed ICLAs from 2013-2016 have been decreasing**

![image](https://cloud.githubusercontent.com/assets/21328/25497356/233a7832-2b39-11e7-9467-6e174b86e545.png)

[2017-02-21 18:33] filmaj commented on #201
The [infrastructure milestone is complete](https://github.com/phonegap/phonegap-infrastructure/milestone/1) - https://metrics.phonegap.com is live:
 - https://metrics.phonegap.com sends you to the [Graylog](http://graylog.org) instance. This is mainly a configuration and pure log searching frontend, but should also allow us to create log parsing streams and alerts, if we want to do that. Credentia

[2017-02-21 19:15] mwbrooks opened #205 "Share PhoneGap / Cordova 2017 Goals"
**Story**

As the PhoneGap team, we want to state our 2017 goals for PhoneGap and Apache Cordova, so that the community knows our intentions and commitment to the projects.

**Conditions**

- [x] Must write a blog post for Apache Cordova ([blog post](http://phonegap.com/blog/2017/02/14/continued-commitment/))
- [x] Must share blog post on Apache Cordova mailing list
- [x] Must write a blog post fo

[2017-02-21 23:45] mwbrooks opened #206 "PGB on Adobe I/O"
**Story**

As a developer, I want to use the Adobe I/O developer platform to access the API for PhoneGap Build, so that I can authenticate once and managed my usage in one place.

[2017-02-21 23:47] mwbrooks opened #207 "Setup Cloud Watch for Push / Update"
**Story**

As a PhoneGap team member, I want to track the uptime of our Push and Desktop Update services, so that I can ensure stability and reliability.

**Conditions**

- Must support PhoneGap Push service
- Must support PhoneGap Desktop Update service

[2017-02-23 19:47] mwbrooks opened #208 "Apache Cordova 7"
**Story**

As a Cordova developer or distribution, I want better alignment with npm tooling, package.json, and modern node versions, so that Cordova integrates better with my web app development process.

**Conditions**

- Must support Android, iOS, and Windows Universal
- Tooling support on macOS and Window
- Must be supported by PhoneGap CLI and Desktop

**Tasks**

- [JIRA Board for Cordova 7](h

[2017-02-23 21:41] purplecabbage opened #209 "Android Bridge Cleanup + Unit Tests"
**Story**

As a Cordova Android contributor, I want better alignment with modern testing tools so that we can have the ability to change bridge modes and test the fundamental core technology of Cordova on Android.

**Conditions**

- Anyone should be able to open and run the instrumentation in Android Studio (Mac + Windows)

**JIRA issue**
- https://issues.apache.org/jira/browse/CB-12465

**Pull re

[2017-02-23 21:58] purplecabbage opened #210 "Junk - Ignore me"
**Story**

Developers coming from native workflows need to still be able to use PhoneGap/Cordova without having to start over.

**Conditions**

This will be broken into smaller bits ...
Parts include :

 - Ability to add/remove plugins from native first xcode project.
 - Android studio plugin to install/remove https://github.com/phonegap/phonegap-intellij-plugin/issues

[2017-02-23 22:43] purplecabbage opened #211 "Plugins Wrap Native friendly packages"
**Story**

A native developer should see native code added to their project in common packages.

**Description**

For android/android studio, this will typically mean they receive AAR packaged native code
For ios/Xcode, it will likely be Cocoapods

This story might also include the IntelliJ PhoneGap plugin installer extension, or other means of adding PG/Cordova code to a native project.

[2017-02-23 23:00] purplecabbage commented on #210
Not valid, broken into other pieces.

[2017-02-23 23:00] #210 closed, assigned to nobody

[2017-02-25 00:49] mwbrooks opened #212 "PWA & App Stack Workshop for PGD EU"
**Story**

As a developer at the PhoneGap Day workshop, I want to create an app that is deployed online and compiled with Apache Cordova, so that I can learn how to develop progress web apps with PhoneGap.

**Conditions**

- Must be able to create a new project using an app layout
- Must be able to follow a guide to recreate a ToDo sample app using our app stack
- Must be able to add PWA support t

[2017-02-25 00:50] mwbrooks commented on #204
Closing because it's tracked by a larger task: https://github.com/phonegap/phonegap-roadmap/issues/212

[2017-02-25 00:50] #204 closed, assigned to nobody

[2017-02-25 00:50] mwbrooks commented on #203
Closing because it's tracked by a larger task: https://github.com/phonegap/phonegap-roadmap/issues/212

[2017-02-25 00:50] #203 closed, assigned to nobody

[2017-02-27 18:40] purplecabbage commented on #105
Closing this wandering issue in favor of several atomic tasks.

[2017-02-27 18:40] #105 closed, assigned to infil00p, imhotep

[2017-02-27 18:42] purplecabbage commented on #149
Does this task have an output? Can it be closed?

[2017-02-27 18:45] purplecabbage opened #213 "Publish documentation of IntelliJ Android Studio extension."

[2017-02-27 20:08] shazron commented on #149
This is an R&D ongoing task.

[2017-02-28 15:48] #189 closed, assigned to macdonst

[2017-03-06 19:06] #207 closed, assigned to nobody

[2017-03-15 21:29] #205 closed, assigned to nobody

[2017-03-20 20:20] goya commented on #206
internal load balancers and VPC move is completed.  ready for stage deploy, just waiting on the adobe.io folks.

i can imagine we will need to tweak the authentication system once it's all hooked up, but i dont foresee much drama.

[2017-03-21 20:46] #209 closed, assigned to infil00p

[2017-03-21 21:52] mwbrooks opened #214 "Android Studio Integration of Android Embedded Webview"
**Story**

As an Android developer using the PhoneGap Embedded Webview, I want full Android Studio support so that autocomplete and compiling are compatible with my project.

**Tasks**

- [Repository phonegap/phonegap-intellij-plugin](https://github.com/phonegap/phonegap-intellij-plugin)

[2017-03-22 18:48] filmaj commented on #201
I've added a link to the Project Board to the original issue: https://github.com/orgs/phonegap/projects/4

[2017-04-10 16:24] filmaj commented on #201
This is now done.

[2017-04-14 23:58] timkim opened #215 "Create new wikitude samples"
Wikitude recently released a new version of their SDK which comes with some interesting features. Most notably, instant tracking, which is a feature that allows AR experiences without having to upload an image to track against. Instead whatever is in the camera's view, it'll figure out what the plane is and can rest models on that plane.

See here for official demos: https://www.youtube.com/playli

[2017-04-15 00:15] timkim commented on #215
Here's a short video of my progress so far. Built it on top of the pre-existing wikitude samples. Kept on pushing the back button so that's kinda annoying but you get the point:

https://www.dropbox.com/s/yaxzf7t03du71f6/wikitude_vans.mov?dl=0

[2017-04-24 18:32] timkim commented on #215
Here's a newer version:
https://www.dropbox.com/s/f20ym3helolvjy5/landspeeder-2.mov?dl=0

[2017-04-25 21:48] #188 closed, assigned to stevengill

[2017-04-25 22:06] purplecabbage commented on #202
are we waiting on anything else for this?

[2017-04-25 22:08] #187 closed, assigned to purplecabbage, hollyschinsky

[2017-06-08 00:31] GarthDB commented on #202
So, ran into an issue with the latest feed on the main page. I fixed it to now pull in the Medium posts, but I had to use [Superfeedr](superfeedr.com) to make it work.

I just accepted the pull request with the archived blog header on the old blog, so the last things needed:

- [x] update website urls (main nav, footer nav, etc) (garth)
- [ ] publish article explaining the move. (michael)

[2017-07-10 04:33] anuj-njoshi commented on #180
how does pwa work with cordova plugins like cordova-file-opner2,cordova -sqlite2,
cordova-sqlite-storage this are not supporting to browser.

[2017-07-10 05:16] anuj-njoshi opened #216 "progressive web app with corodva plugins"
it possible all cordova plugins work it on pwa?

[2017-07-10 13:02] macdonst commented on #216
@anuj-njoshi no, some plugins will not work in a PWA because they will have no API's implemented in the browser. We are committing to getting the core plugins and phonegap plugins working across web (PWA), Android and iOS.

Check out our README here for progress: https://github.com/phonegap/phonegap-plugin-pwa/blob/master/README.md

[2017-07-10 13:02] #216 closed, assigned to nobody

[2017-07-10 13:04] macdonst commented on #180
@anuj-njoshi for plugins that don't have an API in the browser we will suggest to the plugin authors to add browser platform support.

[2017-07-11 23:45] timkim commented on #215
Project is all done.

https://www.npmjs.com/package/phonegap-wikitude-speeder-template
https://blog.phonegap.com/ar-on-your-phone-with-magicavoxel-wikitude-and-phonegap-d31c077d5d70

[2017-07-11 23:45] #215 closed, assigned to nobody

[2017-08-11 23:03] timkim opened #217 "Moving phonegap serve into cordova serve"
Hello all,

As you may or may not know, the `cordova serve` command and the `phonegap serve` command were roughly created at the same time some years ago to help users preview their work on a browser or on device. Once entering the command, a server in node was spun up to serve the Cordova/PhoneGap's project www/ to the requesting client.

`cordova serve` if I remember correctly was mainly authore

[2017-08-11 23:14] timkim commented on #217
Oh, on point 2 - it appears `cordova serve` also mimics plugin calls.

[2017-08-16 17:52] stevengill commented on #217
Some thoughts

1) I like the idea of `cordova serve` working with phonegap developer app. It makes sense to have this from our teams perspective. Especially if we want to push cordova as local development and phonegap cloud as phonegap workflow.

PhoneGap CLI is not slated for any active development in the near future. If we move this functionality into cordova, it is another case for us potential

[2017-08-16 18:58] devgeeks commented on #217
If we are looking at this, could this be the time to look at other `serve` workflows other than static files and file-watching? I am thinking specifically of webpack dev server and hot module reloading. If `cordova serve` Could somehow support this (not pretending I know how), that would be amazing.

[2017-08-16 20:16] purplecabbage commented on #217
Personally I think cordova-serve already does too much, it should simply serve files and open the default browser.  Currently it is querying the registry in windows to find if Edge browser is installed, and launching Chrome with --user-data-dir flags, which means the user gets a second instance of Chrome running, ....

Adding file-watching for hot reloads, csp injection, multi-touch handling to re

[2017-08-16 22:26] timkim commented on #217
# connect-phonegap
**Pros**:
- Allows for cross origin requests to actually go through. A lot of developers want to make a call to an api or some service in order for their app to function.
- Calls to the plugins actually return true data from the phone as opposed to some mocked out one
- As long as the Developer App has a particular plugin installed, you can make calls to that plugin when launchi

[2017-08-16 22:30] timkim commented on #217
Also, for cordova serve to act as a simple http file static server has its merits but I think a large majority of our users make some sort of call to a service. We've tried making a proxy to handle these requests in the early days of connect-phonegap but it was pretty hacky. Real no guarantee to handle every request with a proxy.

I agree though that connect-phonegap could be refactored so it can

[2017-08-20 19:00] macdonst commented on #217
@timkim if we do merge `phonegp serve` into `cordova serve` then we should take out the push middleware component as it is tightly tied to phonegap CLI. However, if we can tie this to a release of the PG Dev App with push plugin v2 we won't need the middleware anymore. The middleware is only required to swap the sender ID but that is controlled by a config file instead.

Also, the proxy component

[2017-08-29 18:35] mwbrooks opened #218 "Test Epic"
Testing zenhub

[2017-08-29 18:42] mwbrooks opened #219 "Epic for I/O"
This is a test epic

[2017-09-26 23:59] #208 closed, assigned to purplecabbage, stevengill, audreyso

[2017-09-26 23:59] purplecabbage commented on #202
Still waiting?

[2017-09-27 00:00] #182 closed, assigned to jenlgray

[2020-09-11 18:52] #120 closed, assigned to purplecabbage

[2020-09-11 18:52] #119 closed, assigned to purplecabbage